[2019-07-26 21:32] alexarje opened #1 "Art and technology lessons"
I am interested in developing/contributing to lessons in the arts (music and visual arts), both analysis and creation (interactive). Generative arts, live coding, etc. Is there someone else interested in that here?

[2019-07-26 21:33] danielskatz opened #2 "Project Carpentry"
This is a placeholder for some discussion that has been going on for a while, but may not be recorded anywhere.

The idea of this course/set of lessons, perhaps called "Project Carpentry" or "Software Project Carpentry" is for new software projects starting out to learn and use best (or good enough) practices for open source, open community projects, including things like licensing, CLAs (or not),

[2019-07-26 21:33] yipcma opened #3 "Data Science for Entrepreneurship"
As there has been a rise in university-level study of entrepreneurship, a data science for entrepreneurship lesson would be a great addition to plug into a workshop as a case study and application to wrap up the techniques learned using other curriculum and bring relevance to students in the disciple. Would love to hear your thoughts on this.

[2019-07-26 21:33] gjuhasz opened #4 "Data in Chemistry / Materials Science"
Hi everyone,
I am here to see if there is any plan/interest developing lessons in chemistry and materials science related exercises.

[2019-07-26 21:33] tracykteal opened #5 "Image analysis curriculum"
There is general interest in lessons around imaging. Some will be general around imaging, but other content ideas might be more domain specific for particular types of images.

[2019-07-26 21:34] fmichonneau opened #6 "Create lesson on Shiny"
Originally reported at datacarpentry/R-ecology-lesson#30

[2019-07-26 21:34] hoytpr opened #7 "Got a request for neuroscience"
I'm not a nueroscientist, but a new group is putting together some programs and was interested in whether the Carpentries could develop a neuroscience curriculum. I notice a LOT of our people are neuroscientists, and I was able to find at least one old workshop that focused on neuroscience data.
https://funfaculty.org/drupal/node/6501

The good folks at the University of Washington eScience Instit

[2019-07-26 21:34] amandawhitmire opened #8 "Hardware Carpentry"
I'm not sure if this falls under SWC or DC, but I've tweeted a bit about the idea of developing a "hardware carpentry" (HT: Jonah came up with the name). I think there is interest in this. I'll be developing a curriculum for this at my institution, and am more than happy to do this under the Carpentries umbrella.

I am in the very early stages of thinking about this, but the focus is on ~Arduino m

[2019-07-26 21:35] datadave opened #9 "Using Cloud Computing for Data Science with Open Source Libraries and Tools"
Would love to help create and promote this.   Any interest/feedback?

[2019-07-26 21:35] andrewsanchez opened #10 "Computational Musicology"
There's a [python library called music21](http://web.mit.edu/music21/) that would be great for learning basic programming skills and applying them to explore interesting questions in musicology such as "How many times does the BACH motif occur in x corpus?"

I have a list of a few people who may be interested, gathered from small discussion on the slack channel:

- https://twitter.com/alexarje
- A

[2019-07-26 21:35] tracykteal opened #11 "Digital Humanities lessons"
There are many efforts of people working on Digital Humanities lessons, including some that have been taught as pilot workshops and have developed curriculum. If people have curriculum under development or that has been taught, could they add the links to those materials in this issue.

[2019-07-26 21:35] tracykteal opened #12 "Natural History Collection lessons"
There have been quite a few Data Carpentry workshops at natural history museums and a general interest in data skills for working with natural science and history collection data.

@debpaul and @mjcollin have started adapting some of the Ecology lessons to use with natural history collection data.

https://data-lessons.github.io/OpenRefine-nhcdata-lesson/
https://data-lessons.github.io/spreadsheet

[2019-07-26 21:36] tracykteal opened #13 "HPC lessons"
There has been general interest in lessons for working with HPC resources. An upcoming [BOF at Supercomputing 2017](http://sc17.supercomputing.org/presentation/?id=bof125&sess=sess359) is set to discuss ideas about curriculum and core competencies. There's also a session on [Best Practices for HPC training](https://sc17.supercomputing.org/presentation/?id=wksp120&sess=sess134) We'll update this is

[2019-07-26 22:03] ErinBecker opened #14 "Use different templates for ideas and proposals"
Use this: https://blog.github.com/2018-01-25-multiple-issue-and-pull-request-templates/

and have one template for people who want to suggest an idea for a lesson, and another one for people who are ready to submit a lesson proposal.

(Initially created by @fmichonneau at https://github.com/carpentrieslab/proposals/issues/2)

[2019-07-26 23:09] ErinBecker commented on #13
These materials were listed on the DEPRECATED [sharing-lessons Etherpad](https://pad.carpentries.org/sharing-lessons). Some may be duplicates of resources already shared on this thread:

HPC Carpentry: https://hpc-carpentry.github.io/
Made up of 1/2 day lessons that can be combined together in different ways depending on the audience
hpc-shell: Intro to the shell for people using remote advanced c

[2019-07-26 23:11] ErinBecker opened #15 "Other R lessons"
These materials were previously listed on the DEPRECATED [sharing-lessons Etherpad](https://pad.carpentries.org/sharing-lessons).

- Git using Rstudio https://stijnvanhoey.github.io/git-Rstudio-course/
This is a short lesson to teach git from RStudio using The Carpentries style version 9.5.0. proposed by Stjin van Hoey, you can contact @orchid00 if you have questions.

- https://tibhannover.github

[2019-07-26 23:13] ErinBecker opened #16 "Other Python lessons"
- Python for Atmosphere and Ocean Scientists https://data-lessons.github.io/python-aos-lesson/ Using Data Carpentry template Contact Damien Irving @DrClimate

- Plotting and Programming in Python using Spyder instead of Jupyter Notebooks - http://scw-aberystwyth.github.io/python-novice-gapminder/

[2019-07-26 23:18] ErinBecker opened #17 "Other Git lessons"
- Mod of git-novice lessons - https://uw-madison-datascience.github.io/git-novice-custom/ - Teaches branches and pull requests

- Code refinery git intro https://coderefinery.github.io/git-intro/ - Guacamole example

- Git - Github - Rstudio https://inbo.github.io/git-course/

- Steve Bond (Biologyguy)'s Git and Github with examples that make more sense IRL: https://biologyguy.github.io/git-novice

[2019-07-26 23:19] ErinBecker opened #18 "Docker"
These materials were previously listed on the DEPRECATED [sharing-lessons Etherpad](https://pad.carpentries.org/sharing-lessons).

https://dme26.github.io/docker-introduction/

[2019-07-26 23:20] ErinBecker opened #19 "Machine Learning"
These materials were previously listed on the DEPRECATED [sharing-lessons Etherpad](https://pad.carpentries.org/sharing-lessons).

-  A carpentry style course on machine learning with Python and Scikit Learn. https://github.com/machinelearningcarpentry/machine-learning-novice

- C3DIS 2019 - Introduction to Machine Learning  https://injeans.github.io/c3dis-intro-to-ml/ Using The Carpentries style

[2019-07-26 23:24] ErinBecker commented on #19
@injeans @machinelearningcarpentry - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed on the sharing-lessons Etherpad, which has now been deprecated. All of the resources listed on that pad have been migrated here. We're stil

[2019-07-26 23:24] ErinBecker commented on #18
@dme26 - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed on the sharing-lessons Etherpad, which has now been deprecated. All of the resources listed on that pad have been migrated here. We're still working on organizing this

[2019-07-26 23:26] ErinBecker commented on #17
@uw-madison-datascience, @coderefinery, @inbo, @biologyguy, @dlstrong, @gcapes, @caltechlibrary - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed on the sharing-lessons Etherpad, which has now been deprecated. All of the res

[2019-07-26 23:26] ErinBecker commented on #16
@drclimate, @scw-aberystwyth - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed on the sharing-lessons Etherpad, which has now been deprecated. All of the resources listed on that pad have been migrated here. We're still work

[2019-07-26 23:28] ErinBecker commented on #15
@stijnvanhoey, @tibhannover, @uomresearchit - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed on the sharing-lessons Etherpad, which has now been deprecated. All of the resources listed on that pad have been migrated here. W

[2019-07-26 23:30] ErinBecker commented on #13
@hpc-carpentry, @hpc-uk, @rantahar, @psteinb - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed on the sharing-lessons Etherpad, which has now been deprecated. All of the resources listed on that pad have been migrated here.

[2019-07-26 23:31] ErinBecker commented on #12
@mjcollin - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed on the sharing-lessons Etherpad, which has now been deprecated. All of the resources listed on that pad have been migrated here. We're still working on organizing t

[2019-07-26 23:32] ErinBecker commented on #11
@elliewix, @lknelson, @cidfreitag - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed in the lesson-ideas repo, which has now been deprecated. All of the issues in that repo have been migrated here. We're still working on orga

[2019-07-26 23:34] ErinBecker commented on #10
@andrewsanchez  - - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed in the lesson-ideas repo, which has now been deprecated. All of the issues in that repo have been migrated here. We're still working on organizing this repo

[2019-07-26 23:35] ErinBecker commented on #8
@anacost, @crdietrich, @amandawhitmire - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed in the lesson-ideas repo, which has now been deprecated. All of the issues in that repo have been migrated here. We're still working on

[2019-07-26 23:36] ErinBecker commented on #7
@hoytpr @arokem @mbgoodman - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed in the lesson-ideas repo, which has now been deprecated. All of the issues in that repo have been migrated here. We're still working on organizing

[2019-07-26 23:36] ErinBecker commented on #5
@mbgoodman - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed in the lesson-ideas repo, which has now been deprecated. All of the issues in that repo have been migrated here. We're still working on organizing this repo, so pl

[2019-07-26 23:37] ErinBecker commented on #4
@janash - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed in the lesson-ideas repo, which has now been deprecated. All of the issues in that repo have been migrated here. We're still working on organizing this repo, so pleas

[2019-07-26 23:37] ErinBecker commented on #3
@yipcma - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson proposal was previously listed in the lesson-ideas repo, which has now been deprecated. All of the issues in that repo have been migrated here. We're still working on organizing this repo, so please

[2019-07-26 23:38] ErinBecker commented on #2
@danielskatz @janash - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson materials were previously listed in the lesson-ideas repo, which has now been deprecated. All of the issues in that repo have been migrated here. We're still working on organizing this r

[2019-07-26 23:38] ErinBecker commented on #1
@alexarje  - We've just created The Carpentries Incubator GH organization to provide a single point of entry for community members to share lesson materials and discuss ideas for new lessons. Your lesson proposal was previously listed in the lesson-ideas repo, which has now been deprecated. All of the issues in that repo have been migrated here. We're still working on organizing this repo, so plea

[2019-07-27 00:39] ErinBecker commented on #4
@janash - I've finally had a chance to look through the MSSI lesson materials and they're looking really great! Have you all had an opportunity to pilot test them yet? Any plans to teach them in the near future?

The Carpentries has grant support from the Sloan Foundation to facilitate development of a Carpentries-style lesson for chemistry. Would the MSSI be interested in developing your existing

[2019-07-27 08:21] dme26 commented on #18
Thanks for migrating these materials, @ErinBecker ! I'll try to answer the questions that were in the issue template—but let me know if you'd just like me to open a separate issue.

An introduction to Docker, as by the URL, but the title is currently "Reproducible computational environments using containers".

Yes, as at the [above link](https://dme26.github.io/docker-introduction/), but I'd be ke

[2019-07-29 09:03] stijnvanhoey commented on #15
It would be fine to have the lesson enlisted. Should we make a separate issue to have the lesson also enlisted?

[2019-07-29 22:40] ErinBecker commented on #15
@stijnvanhoey - Sorry I'm not sure I understand your comment above. Are you asking to have your [Git Using RStudio](https://stijnvanhoey.github.io/git-Rstudio-course/) lesson hosted in The Carpentries Incubator? if so, great! It looks like you're already using the lesson template, so you'll just need to do the following:

1. Confirm that you've read The Carpentries Code of Conduct and that your le

[2019-07-30 08:20] stijnvanhoey commented on #15
I'm sorry for the unclear comment, but you interpreted it just perfect. I'll do the required steps to move the repo to the incubator, thanks for the information.

[2019-07-30 14:24] debpaul commented on #12
Thanks @ErinBecker for helping us move this forward. @fmichonneau and I
will be talking about further development of these lessons at
Biodiversity Next https://biodiversitynext.org/. Other work is going on
in the SPNHC organization to work on skills needs/data literacy for
undergrads and collections.

[2019-07-30 15:07] debpaul commented on #12
To @tracykteal @ErinBecker @fmichonneau, where is the QGIS lesson? It's
really very well done.
https://data-lessons.github.io/QGIS-nhcdata-lesson/
It is something we do not want to lose and belongs with the natural
history museum data lessons.
Thanks, Deb

[2019-07-30 15:31] ErinBecker commented on #12
Thanks @debpaul for making sure to capture that lesson here. Sorry I missed it. How would you feel about transferring those lessons over from data-lessons to carpentries-incubator? We're trying to consolidate everything "in progress" here, but absolutely no rush if you've already got things set up in data-lessons the way you like. Let me know if we should transfer.

[2019-07-30 17:49] ErinBecker commented on #15
Excellent! Let me know when you've put in the request to transfer the repo and I'll accept it on our end. Welcome to The Carpentries Incubator!

[2019-07-30 20:28] rbavery opened #20 "Geospatial Python Curriculum"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Geospatial

[2019-07-30 20:31] rbavery commented on #20
### My initial thoughts/questions on what the lesson should cover and how it should be structured:

The R lesson could serve as a template on how to structure the lesson. We could use the Austin house pricing dataset used by this recent geospatial tutorial given at Scipy 2019:https://github.com/pysal/scipy2019-intermediate-gds/tree/master/notebooks to teach the vector component of the lesson.

Som

[2019-07-30 22:47] ErinBecker commented on #20
Thanks for getting this conversation restarted @rbavery! I've gone ahead and created a repo for this lesson here: https://github.com/carpentries-incubator/geospatial-python and given you write access. Y'all can ping me on this thread to request write access for other collaborators as they come on board.

As you get started with writing and formatting content, you may find parts of our new [Curricu

[2019-07-31 07:47] stijnvanhoey commented on #15
I do use the [carpentry lesson template license](https://github.com/stijnvanhoey/git-Rstudio-course/blob/gh-pages/LICENSE.md), so that should be ok. I've read and the lesson is - to the best of my knowledge - conform the CoC. Please add @orchid00 as a collaborator as she was involved in the setup of the lesson.

[2019-07-31 07:49] stijnvanhoey commented on #15
However, when trying to transfer the repo, I got the following message on Github:

[2019-07-31 09:54] dvalters commented on #20
Thanks for getting this going again @rbavery, @ErinBecker! I have a little bit of work time I could allocate to developing new materials so I would definitely be up for contributing something here.

I would give another +1 for including `geopandas` and `xarray` in this curriculum. I think they are really useful tools for researchers/data scientists in geospatial fields to be learning in the Python

[2019-07-31 15:31] blordcastillo commented on #20
`pyproj/proj4` is also essential to cover.

I would strongly suggest `folium` in place of matplotlib for visualization.
PySal is another frequently used spatial analysis tool.
'pyshp' is fairly important as a light-weight (no gdal) way to read shapefiles.
`dask` (especially `dask-rasterio`) is something to consider with `geopandas` and `xarray`.

One important skillset to consider is how to call O

[2019-08-01 20:53] rbavery commented on #20
@blordcastillo  folium looks really cool and I think that'd be great to showcase, haven't used it myself but I've seen demos. I also agree that it'd be good to cover how to access remote data and basemap services.

I've never used `pyproj/proj4` directly, usually I rely on rasterio and geopandas' built in crs attributes, projection methods, and plotting functions to make sure my datasets are align

[2019-08-01 21:03] ErinBecker commented on #15
Sorry @stijnvanhoey - I forgot I had to give you that permission. I'm setting your access now to allow you to transfer the repo. Please let me know when you have.

[2019-08-01 21:07] ErinBecker commented on #20
Hi all - so excited to see this conversation kicking off! I'm going to transfer the issue to the new repo so the conversation can continue there. Please let me know if you would like to contribute to the lesson first draft - I'm happy to set you up with Write access.

[2019-08-01 21:22] hoytpr commented on #7
Thanks Erin! Our University's medical school is starting a Neuroscience Degree Program (MS, PhD, MD/PhD), and I was included in some of the initial planning. I am not a neuroscientist (but am fascinated by it). While it's uncertain I'll have much content to contribute, it would be great be part of this team while our university is putting their plan together.  @arokem  @mbgoodman @ErinBecker

[2019-08-02 13:12] psteinb commented on #13
Hey @ErinBecker I'd be very interested in putting [hpc-intro](https://github.com/hpc-carpentry/hpc-intro) and friends into a carpentries incubator state. @ocaisa
I just moved jobs, so am a bit in leaving/arriving stage. Is there any template I could have a look at so that I can send it around and discuss the matter with other stakeholders?

[2019-08-05 06:18] orchid00 commented on #19
I'm sad the sharing-lessons Etherpad has been DEPRECATED.
But I guess this is a less ephemeral way to keep track of resources.

[2019-08-05 19:19] sstevens2 commented on #18
Let me know if there is anything I can do to help with this process!

[2019-08-06 18:26] dlstrong commented on #17
Hi @ErinBecker ! I've got a 3 hour version that includes tagging, branches, and undoing things / getting other items out of history here: https://github.com/dlstrong/git-novice/tree/ITPF2019

Segment 5 - rendered at https://dlstrong.github.io/git-novice/05-label-and-undo/ -  is what our IT pros asked for over several semesters of runs.

[2019-08-06 22:42] ErinBecker commented on #17
Cool, thanks for sharing @dlstrong! If you'd like to have this lesson migrated to The Carpentries Incubator (and rendered at a carpentries-incubator url, please can you confirm the following:

- It uses The Carpentries lesson template
- It has an open license (CC-0 or CC-BY) and
- It conforms to The Carpentries Code of Conduct

If all of the above are true, please let me know and I'll add you as a

[2019-08-07 00:10] ErinBecker commented on #18
Sorry for the delay on responding to this @dme26 and @sstevens2! I'll get that repo set up for you first thing in the morning!

[2019-08-07 00:11] dlstrong commented on #17
It uses what's probably an older version of the Carpentries lesson template - I haven't pulled all the updates from the source since I took my fork off in a different direction. Also I'd probably want to de-identify some of the examples in the text; references to lessons being taught in our campus computer labs aren't as helpful for the entire universe as they are for our campus people. Is there a

[2019-08-07 14:17] ErinBecker commented on #18
Sorry again for the delay @dme26 and @sstevens2. I was experimenting with a new system for filtering my emails and GH notifications and it failed me - going to go back to my default of just marking things unread! Anyway, here's the repo: https://github.com/carpentries-incubator/docker-introduction. The two of you should have email invitations to join the rep with Write access. If something looks w

[2019-08-07 14:19] ErinBecker commented on #15
Hi @stijnvanhoey - have you run into any problems transferring the repo with your new permissions? Looking forward to having it in the Incubator! Please let me know if you have trouble.

[2019-08-07 14:20] ErinBecker commented on #15
It looks like your invitation to join the organization is still pending. Please let me know if you'd like me to resend.

[2019-08-07 14:24] ErinBecker commented on #13
Congrats on the new job @psteinb! The Incubator is appropriate for lesson materials at any stage of development, so there's no need to do any more work on the repo in order to have it hosted here. The only requirements are that:

- The lesson uses our lesson template (which yours already does)
- It abides by our Code of Conduct and
- It carries an open license (CC-BY or CC-0)

If you can confirm t

[2019-08-07 14:27] ErinBecker commented on #8
@anacost - any interest in hosting the UIO Hive lesson in the Incubator? Let me know if you're interested and I'd be happy to facilitate.

[2019-08-07 17:56] ErinBecker commented on #17
Absolutely! Since GitHub only allows each organization/individual account to have a single fork of each repo, I think the best way to do this would be to use GitHub's importer to create a copy of the lesson in your account, and then to transfer one of those lessons to the Incubator. This should separate the history of those two repos and let you work on each of them independently. Please let me kn

[2019-08-07 20:16] stijnvanhoey commented on #15
Thanks for the reminder, all went fine

[2019-08-07 22:49] ErinBecker commented on #15
Whoops - reopening in case @tibhannover or @uomresearchit also wanted to host their lessons in the Incubator.

[2019-08-23 11:12] annefou commented on #8
@ErinBecker That's a very good idea! Thanks @anacost for mentionning our lesson!

[2019-09-03 16:18] ErinBecker commented on #18
Ok to close this issue?

[2019-09-04 09:57] dme26 commented on #18
Yes, thanks @ErinBecker !

[2019-09-04 09:57] #18 closed

[2019-09-04 19:39] ErinBecker commented on #8
@annefou - great! Happy to have this lesson in the Incubator. It looks like you're already using The Carpentries lesson template, so the only things required in order to include this lesson in the Incubator is a confirmation that the lesson a) has a CC-BY or CC-0 license and b) conforms to our Code of Conduct. Once those two requirements are fulfilled, I'll grant you access to transfer the repo to

[2019-09-13 07:17] annefou commented on #8
@ErinBecker Yes we are ready to move the UiO Hive lessons to the Incubator. We are all set with the license  https://uiohive.github.io/IoT_arduino_nano/LICENSE.html (CC BY 4.0 license as for Carpentries lessons) and follow the Carpentries Code of Conduct (https://uiohive.github.io/IoT_arduino_nano/CODE_OF_CONDUCT.html).

We will definitely participate to the community discussion around the incubat

[2019-09-13 09:22] russHyde commented on #9
Many thanks for considering me, however, my enthusiasm came from a place of wanting to learn this particular topic, rather than feeling able to teach. (I've only really toyed with hadoop and spark)

[2019-09-13 12:02] kerchner commented on #2
A nice addition here might also get a bit beyond the software itself and focus on various ways of organizing the work of developing software when multiple people are involved (or even one), such as:
- thinking about breaking work down into tasks
- organizing your work into software releases (/milestones)
- using project tools that integrate with Github - or even Github's own "Projects" tab that fe

[2019-09-13 16:58] kerchner opened #21 "Data Analysis and Visualization in R for Public Health"
1. What is the topic of your lesson or lesson proposal?

Data Analysis and Visualization in R for Public Health

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

**Extremely** early draft, with many empty sections, but work is actively progressing:
https://kerchner.github.io/

[2019-09-13 22:01] ErinBecker commented on #17
Absolutely no rush! I'll make a note to myself to follow up with you in December. Hope things calm down for you a bit and please focus on the sleep!

[2019-09-13 22:14] ErinBecker commented on #11
Great to hear @elliewix! I've just sent you an invitation to join the carpentries-incubator organization. This will give you the ability to transfer your repos over. You'll need to go into each of the repos settings pages and click "transfer this repository" (in the danger zone). Once you've done that, I can accept the transfer and get things set up to have your lessons populate in the Incubator.

[2019-09-13 22:17] ErinBecker commented on #8
Great to hear @annefou! I've just sent you an invitation to join the carpentries-incubator organization. This will give you the ability to transfer your repos over. You'll need to go into each of the repos settings pages and click "transfer this repository" (in the danger zone). Once you've done that, I can accept the transfer and get things set up to have your lessons populate in the Incubator.

[2019-09-16 12:55] docsteveharris opened #22 "Data Science for Doctors"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Data carpe

[2019-09-16 21:23] brownsarahm opened #23 "Packaging and Publishing Python projects"
Publishing and sharing python data science projects

Yes.
repo: https://github.com/brownsarahm/python-packaging-publishing
rendered: https://brownsarahm.github.io/python-packaging-publishing/

yes

Yes, but an out of date version of the styles repository, are there docs for how to update?

yes

none yet

this addresses some of the topics in #2

Thank you for sharing your lesson with The Carpentrie

[2019-09-16 21:54] elliewix commented on #11
None of these lessons use the lesson template.  I don't want to cede control of the repos because they were for other events, but the content is all CCBY and open for anyone to grab.

[2019-09-16 23:52] ErinBecker commented on #21
Thank you @kerchner for starting this issue! It looks like there's no action needed from Carpentries staff at this point, but please do let us know when you'd like to get your materials migrated over to the Incubator.

[2019-09-17 00:03] ErinBecker commented on #22
Hi @docsteveharris - thanks for submitting this proposal! Would you prefer for us to create a new repo for you in the Incubator org or to transfer over your existing repo?

[2019-09-17 00:09] ErinBecker commented on #23
Hi @brownsarahm - thanks for the lesson proposal! I've just sent you an invite to join the carpentries-incubator organization. Once you accept, you will have permission to transfer your repo to this org.

I know I really *should* know the answer to your question about updating to the newest template version, but I'm not finding that documentation at the moment. @fmichonneau - could you please poin

[2019-09-17 01:22] brownsarahm commented on #23
Thanks! @ErinBecker!

When I moved it, I lost admin privileges, I can't change the link at the top anymore.

[2019-09-17 06:41] docsteveharris commented on #22
Does transfer mean that the original repo becomes owned by the incubator? If so then perhaps create a clean one, and we will populate?

——
Primary email: doc@steveharris.me
Secure email: s.harris8@nhs.net
mobile: 07977 583315

[2019-09-17 13:51] anenadic opened #24 "Genomics - a programmer's guide"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Genomics -

[2019-09-17 18:56] ErinBecker commented on #24
Thanks for submitting this proposal @anenadic! Have you already been in touch with @andy-thomason about interest in hosting the lesson on The Carpentries Incubator?

[2019-09-17 19:03] ErinBecker commented on #22
Great question. You will retain ownership of your lessons, according to whatever license you have attached to the materials (the license must be either CC-BY or CC-0 in order to be hosted in the Incubator).

Since it looks like the lesson uses a pretty old version of our lesson template, starting a fresh repo with our current template and transfering over the lesson contents would probably be the

[2019-09-17 19:20] ErinBecker commented on #22
@docsteveharris - Your new repo is https://github.com/carpentries-incubator/Data-Science-for-Docs and renders at https://carpentries-incubator.github.io/Data-Science-for-Docs/. I've sent invites to @aasiyahrashan, @docsteveharris, and @DocEd to join a team titled "Data-Science-for-Docs-maintainers". Once they've joined that team, they should have write access to the repo. I wasn't able to send an

[2019-09-17 19:24] ErinBecker commented on #23
Good catch @brownsarahm! I've updated the link -your lesson renders at https://carpentries-incubator.github.io/python-packaging-publishing/ now! We're testing out the Incubator model with Write access for the original lesson authors, but might need to change to Admin level access. Please do let me know if you run into other problems that you need Admin access for. This info will be really useful a

[2019-09-17 19:25] ErinBecker commented on #23
Ah, I see that you already answered that question above! In that case, I'm going to go ahead and close this issue. Please let me know if you need anything!

[2019-09-17 19:25] #23 closed

[2019-09-17 19:35] ErinBecker commented on #11
Thanks @elliewix for clarifying. Sounds like we could get the lessons hosted in the Incubator if we forked the materials, transfer the contents to our lesson template, (and of course gave attribution to the original materials). On the staff side, we don't have the bandwidth to do this now, but I'd like to leave the issue open here, in case anyone on the community is interested and able to do that

[2019-09-17 20:20] elliewix commented on #11
I may eventually have this bandwidth but I don't have it now either. But this is fine for someone to do later if they want.

[2019-09-18 08:28] docsteveharris commented on #22
Hi Erin

Could you also add

@dannyjnwong
@finncatling
@ngageorange

And don’t add @tompollard: he’s moved on to another lab and was not involved with this work.

Steve

——

[2019-09-18 18:06] ErinBecker commented on #11
Thanks @elliewix. I'll leave this open for now. Maybe someone will volunteer. 😄

[2019-09-18 18:13] ErinBecker commented on #22
Done! Thanks for the list. I'll close this issue now, but please feel free to re-open if you have questions about migrating the content.

[2019-09-18 18:13] #22 closed

[2019-09-19 12:44] anenadic commented on #24
Andy was OK with me submitting the link to his material as is here, we'd need to contact him to see if he is interested in putting any additional effort (Andy works for Genomics Plc company in Cambridge UK, https://www.genomicsplc.com/).

[2019-09-26 20:40] ErinBecker commented on #24
Thanks @anenadic. Since we would need any material listed in the Incubator to use our lesson template, I can't list these lessons as is. I'd be more than happy to set up a repo for @andy-thomason using the template to transfer these materials to, but that might be too much overhead for him to do that transfer at this point in time. I'll leave this issue open for the moment, in case Andy (or someon

[2019-09-27 08:51] anenadic commented on #24
Got ya - I agree with leaving the issue open for the time being to see if we can get some effort from the community or from @andy-thomason's team.

[2019-10-09 03:35] sarasrking opened #25 "Introduction to Jupyter Notebooks"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

'Introduct

[2019-10-16 01:01] jayGattusoNLNZ opened #26 "Pymarc in LC"
1. What is the topic of your lesson or lesson proposal?

Beginners lesson for using the pymarc library )with python) to read, create,  and update MARC records

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

No - very early stages.

Checking for existing work/materials at th

[2019-10-24 00:19] ErinBecker commented on #26
Thanks for starting an issue @jayGattusoNLNZ. It looks like at this point you're just looking for others who are interested or who have already developed materials. I'll leave this issue open. Please ping me when you'd like a repo created to start organizing ideas!

[2019-10-24 00:24] ErinBecker commented on #25
Hi @sarasrking. Sorry for the slow response on this. I was trying to create a repository for you, but ran into some problems with the newest changes to the lesson template. @fmichonneau - could you please start a new empty repo for @sarasrking and give them write access?

I did take a look at the formatting, and it looks like it needs some massaging to get it into template format. There's a chapte

[2019-10-24 09:46] RobHarrand opened #27 "Modern data analysis for veterinary researchers"
**Basic idea**
An introduction to modern data analysis concepts for those working in veterinary research.

**Detail**
I've worked with researchers in veterinary science for a number of years now, and my experience is that everyone is still performing data analysis in the usual way, i.e. loading data into Excel, hacking the data around for several weeks, producing plots and tables, and then copying

[2019-10-24 14:27] Jongmassey commented on #27
I am also keen to contribute to this curriculum, I think there are some domain-specific issues around data cleaning and management that are worthy of consideration in a veterinary-specific course. Perhaps drawing on, or contributing to the efforts of @kerchner and HDRUK in #21

I share your assessment that many researchers, and even clinicians in practice, are undertaking more and more data-intens

[2019-10-25 10:38] RobHarrand commented on #27
Hi Jon,

Great!

What veterinary specific items do you think would be useful? As I mentioned above, something around diagnostic testing (sensitivity, specificity, ROC plots, etc) is something I see in many papers. Hypothesis testing, p-values and confidence intervals is another big area. That said, perhaps these are beyond the scope of a data carpentry lesson, as they're arguably more about the st

[2019-11-04 18:05] ErinBecker commented on #25
@fmichonneau - checking in. Could you please respond here with a link to the repo for @sarasrking to put her materials?

[2019-11-04 18:10] ErinBecker commented on #27
Hi @RobHarrand - thanks for getting this conversation started! I'm just checking in to see if you would like me to create a repository for you to work in in the Incubator. If you'd rather hold off on that and do some preliminary discussions here, that's fine! But if you would like a more formalized place to put these ideas and start drafting material, please answer the questions in [the Issue temp

[2019-11-04 21:56] fmichonneau commented on #25
here is the repo: https://github.com/carpentries-incubator/jupyter-notebooks-intro

@sarasrking has now Admin access to the repo.

[2019-11-05 18:17] ErinBecker commented on #25
Excellent - thanks @fmichonneau. @sarasrking - should I close this issue or leave it open for general discussion and attracting contributors?

[2019-11-05 22:21] sarasrking commented on #25
Hi. Please leave this open. I’m on holidays so have t and a chance to look
at it and I’d like some input/help from
 others to get it in good order for sharing.
Thanks
Sara

On Wed, 6 Nov 2019 at 3:17 am, Erin Becker <notifications@github.com> wrote:

[2019-11-06 09:28] RobHarrand commented on #27
Thanks @ErinBecker - I'm reaching out to some vets that I know to get their opinions on content. Once I've done that I'll answer the requestions in the Issue template.

[2019-11-06 10:42] Jongmassey commented on #27
Hi @RobHarrand - my thinking was more around general data wrangling rather than statistical methods: data storage best practices, databases, cleaning, linked data, open data sources, processing data in a reproducible way and sharing code with others, data protection law implications etc.

I come from a livestock data background rather than companion animals so my viewpoint is probably skewed by th

[2019-11-13 13:03] RobHarrand commented on #27
Hi @Jongmassey , OK that makes sense. I've had a chat with @ErinBecker as she suggested maybe a 'statistics for data science' lesson. I'll start that off in the lesson ideas area. I think there are aspects of statistics that data scientists would find useful that are well-suited to veterinary researchers. For example, I mentioned sens and spec, with ROC curves. Those are probably equally useful fo

[2019-11-13 13:18] RobHarrand opened #28 "Statistics for Data Science"
I'm starting this as a placeholder.

The basic idea is to see if it's possible to complement data lessons with one focussing on a collection of basic statistical ideas for data scientists. Off the top of my head these could include...

**Absolute basics**

- Descriptive vs inferential statistics (many R plots can be covered in the former, the rest of this list is the latter)
- Probability distribu

[2019-11-21 15:35] mgalland opened #29 "Introduction to Open Data Science with R"
1. What is the topic of your lesson or lesson proposal?
To show how R/RStudio can be combined with git/Github to promote Open Science through literate programming and collaboration.

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.
Yes. It can be found here: https://github.com

[2019-11-21 19:04] limako commented on #8
Hi. I'm coming late to the party, but I'm developing a new class called "Open Science Instrumentation and Data Collection" where students will learn to use the Raspberry Pi and Arduino ecosystems to make scientific instruments (i.e. connect to sensors, collect & transform data, etc.). I'm tentatively planning to develop my instructional materials using the SWC template. I'm still putting together

[2019-11-26 18:08] ErinBecker commented on #29
Thanks for sharing your materials @mgalland! I've added you as a member to the carpentries-incubator GH organization, so you should now have the ability to transfer your repository. Once you've done that, I'll make sure that the permissions are correct and get the lesson tagged so it can show up on our [community lessons page](https://carpentries.org/community-lessons/).

One question - the origin

[2019-11-27 14:10] RobHarrand opened #30 "Data Science for Finance"
1. What is the topic of your lesson or lesson proposal?

The basic idea is to created something aimed at finance professionals. I work with many who use Excel for absolutely everything, and usually end up with a pivot table and a couple of graphs after hours of non-reproducible mouse-clicking. An intro to reproducibility, including spreadsheet best practice and coding could appeal to some. There a

[2019-11-28 14:21] mgalland commented on #29
Hello @ErinBecker
Thank you for your follow-up. I've imported the lesson in the Carpentries Incubator and renamed it (open-science-with-r).
Yes, I'll send the authors a small email to see if the license can be changed.
Thanks again for your help,
Best
Marc

[2019-12-02 18:18] fmichonneau commented on #8
@limako, ICYMI there is a lesson on using Arduino here: https://carpentries-incubator.github.io/IoT_arduino_nano/ (GitHub repo here: https://github.com/carpentries-incubator/IoT_arduino_nano/) in case it's useful and want to start contributing there!

[2019-12-03 08:02] mgalland commented on #29
Hello Erin,
This is the answer I've just received from Julie Lowndes, one of the authors from the lesson.
You can go ahead and change the license to CC-BY.
Cheers
Marc

=====
Hello Marc,

Yes, I have just changed the LICENSE in the github repo and added the CC-BY label to the front of the rendered book (ohi-science.org/data-science-training).

Cheers,
Julie
====

[2019-12-06 18:07] NatalieThurlby opened #31 "Robust and Open Analysis in R"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Robust and

[2019-12-07 00:29] ErinBecker commented on #30
Sounds like a great idea @RobHarrand. Happy to set up a repository for you to start putting together lesson materials. Please let me know when you're ready for a repo.

[2019-12-11 19:54] ErinBecker commented on #29
Excellent, thanks @mgalland!

[2019-12-11 19:54] #29 closed

[2020-01-10 19:47] ErinBecker commented on #31
Hi @NatalieThurlby - thank you for your material submission! You should have an invitation in your email to join the carpentries-incubator GH organisation, which will allow you to transfer your repository to this org. Once the repo is transfered, you should retain admin access and will be able to add any collaborators that you'd like to have write access to your lesson. @fmichonneau will follow-up

[2020-01-17 10:32] davidrpugh opened #32 "Introduction to Conda for (Data) Scientists"
1. What is the topic of your lesson or lesson proposal?

This lesson is an introduction to Conda for (data) scientists. Conda is an open source package and environment management system that runs on Windows, macOS and Linux. Conda installs, runs, and updates packages and their dependencies. Conda easily creates, saves, loads, and switches between environments on your local computer. While Conda wa

[2020-01-22 20:15] limako commented on #8
Thanks much! I'll check it out. With the start of the new semester, I'm working on my course development project full time now. I'm tentatively planning to have my students program their arduino devices via command line from a raspberry pi. I'm working up lessons on setting up the raspberry pi, using the GPIO, and then interfacing with and programming an arduino.

[2020-01-31 19:29] ErinBecker commented on #32
Hi @davidrpugh - thank you for your material submission! You are a member of the carpentries-incubator GH organisation, which should allow you to transfer your repository to this org. Once the repo is transfered, you should retain admin access and will be able to add any collaborators that you'd like to have write access to your lesson. @fmichonneau will follow-up with any template updates that ne

[2020-02-04 10:26] fmichonneau commented on #32
@davidrpugh please let me know when you've transferred your lesson and I'd be happy to update the lesson template. Thanks!

[2020-02-05 05:50] davidrpugh commented on #32
@fmichonneau I am teaching this material later this afternoon and don't want to move the repo until after the course as I may need to change links. Either later this afternoon or tomorrow I will transfer the repo.

[2020-02-05 09:29] fmichonneau commented on #32
perfect!

[2020-02-05 13:45] geoffwoollard opened #33 "GPU speedups in Python"
1. What is the topic of your lesson or lesson proposal?
GPU speedups in Python (cupy, numba, pycuda)

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

https://github.com/geoffwoollard/gpu-speedups-mbptechtalk2020

3. Do your materials conform to our [Code of Conduct][coc]?

Y

[2020-02-06 12:01] davidrpugh commented on #32
I have initiated the transfer of the repository.

[2020-02-06 15:56] RobHarrand opened #34 "Life Sciences Workshop"
Hi @ErinBecker I've drafted a new workshop based upon the needs of the company where I work...

1. What is the topic of your lesson or lesson proposal?

**Project organisation, data management, spreadsheet best practice and the use of R for the life sciences. The dataset used is an example from a lab-based plate reader (containing data from an enzyme-linked immunosorbent assay, or ELISA)**

2. Do

[2020-02-07 05:55] davidrpugh commented on #32
@fmichonneau I will be making some updates to the training materials based on my most recent teaching of the material. Can I start making these changes or would it be better for my to wait for you to apply updates to the template?

[2020-02-12 06:02] davidrpugh commented on #32
@fmichonneau I noticed that I don't seem to have required permissions to update the website on the `carpentries-incubator/introduction-to-conda-for-data-scientists` repository. Is this intended? Website needs to be

https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists/

[2020-02-12 12:15] fmichonneau commented on #32
sorry about that! You now have write access to the repository. Is there anyone else working on the lesson who should have access?

[2020-02-12 15:01] davidrpugh commented on #32
﻿Thanks! At the moment no one else needs write access.

Are you still planning on adding changes to the template?

Sent from my iPhone

[2020-02-12 22:28] ErinBecker commented on #33
@fmichonneau - would you mind creating an empty lesson for @geoffwoollard?

[2020-02-21 22:58] elliewix commented on #2
There's another relevant lesson project. Focused more as a book rather than workshop, but meant to be useful for those efforts: https://merely-useful.github.io/py-rse/index.html Not complete, but getting there.

[2020-02-25 14:57] fmichonneau commented on #32
With https://github.com/carpentries-incubator/introduction-to-conda-for-data-scientists/pull/19 now open, I think we can close the issue here. Thanks for your submission @davidrpugh!

[2020-02-25 14:57] #32 closed

[2020-02-26 12:25] anenadic opened #35 "Data Science for Ecologists and Environmental Scientists"
I am sharing here training materials developed by https://ourcodingclub.github.io/team.html.  Their motivation was to help scientists overcome "code fear" and "statistics anxiety" in learners of all ages and from all walks of life and to teach best practice open science. Materials are quite suitable for people from other domains too and not just ecology and environmental science.

1. What is the t

[2020-02-26 12:27] anenadic commented on #35
I wanted to add the label 'share-existing-material' but do not have the right permissions.

[2020-03-02 17:44] IslaMS commented on #35
If anyone has any questions about this course please get in touch with either myself (https://github.com/IslaMS) or Gergana Daskalova (https://github.com/gndaskalova) or through the Coding Club organisation (https://github.com/ourcodingclub).

[2020-03-02 22:14] ErinBecker commented on #35
Thanks for sharing @anenadic!

[2020-03-02 22:17] ErinBecker commented on #34
Thanks @RobHarrand for sharing this resource! I've made you an organisational member so you can transfer the existing repo to the carpentries-incubator. Once you've done that @fmichonneau will check whether there are any updates needed to the template version used in the lesson in order to get this page to show up on our community lessons page. Thanks again and let me know if you have questions!

[2020-03-02 22:20] ErinBecker commented on #33
Hey @fmichonneau, think you might have missed this one in your inbox. Could you please initialize a lesson repo for @geoffwoollard? Thanks.

[2020-03-02 22:23] ErinBecker commented on #31
Hi @NatalieThurlby - it looks like the invitation I sent must have expired. I've resent the invitation to join the carpentries-incubator organization. Please let me know if you see it in your inbox. Once you get that invitation, you should be able to transfer your repo into this org so that it appears on the community lessons page. Please let me know if you need any help with the transfer.

[2020-03-02 22:26] NatalieThurlby commented on #31
Hi Erin,

Thank you for the reminder. This slipped off my radar. It's late here so
I'll try to do this tomorrow.

Best wishes

On Mon, 2 Mar 2020, 22:23 Erin Becker, <notifications@github.com> wrote:

[2020-03-02 22:27] ErinBecker commented on #31
No rush!

On Mon, Mar 2, 2020 at 2:26 PM NatalieThurlby <notifications@github.com>
wrote:

--
P.S. Consider becoming a CarpentryCon Sponsor! Learn more:
https://2020.carpentrycon.org/sponsorship

*Erin Becker*
*Associate Director* with The Carpentries <https://carpentries.org/>
Pronouns: she/her/hers
Schedule a meeting with me: *https://calendly.com/ebecker-1
<https://calendly.com/ebecker-1>*

[2020-03-03 09:30] RobHarrand commented on #34
Hi @ErinBecker and @fmichonneau . I've now transferred the repo. Thanks.

[2020-03-09 20:14] limako opened #36 "Raspberry Pi and Arduino"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Using the

[2020-03-09 20:17] limako commented on #8
I've posted the alpha version of my first lesson https://limako.github.io/rpi-arduino/ Feedback welcome!

I've also submitted it to the incubator proposals with the goal of it serving within a "hardware carpentry" universe of materials: https://github.com/carpentries-incubator/proposals/issues/36

[2020-03-09 20:43] ErinBecker commented on #34
Great, thanks Rob. @Francois Michonneau <francois@carpentries.org> anything
we need to do on the template side?

On Tue, Mar 3, 2020 at 1:30 AM Rob Harrand <notifications@github.com> wrote:

--
P.S. Consider becoming a CarpentryCon Sponsor! Learn more:
https://2020.carpentrycon.org/sponsorship

*Erin Becker*
*Associate Director* with The Carpentries <https://carpentries.org/>
Pronouns: she/her/her

[2020-04-14 14:19] ErinBecker commented on #36
Thanks for sharing these materials @limako! Please let us know if / when you're ready to transfer the materials into the Incubator and have your lesson appear on The Carpentries [Community Developed Lessons page](https://carpentries.org/community-lessons/).

[2020-04-14 20:57] fmichonneau commented on #34
just a note for myself that the repository is here: https://github.com/carpentries-incubator/life-sciences-workshop

[2020-04-14 21:27] fmichonneau commented on #33
@geoffwoollard I set up the repository for your lesson here: https://github.com/carpentries-incubator/gpu-speedups and gave you write access. Let me know if you have any questions. We're looking forward to having our lessons here!

[2020-04-14 21:27] #33 closed

[2020-04-23 16:02] jadesjardins opened #37 "NeuroImaging BIDS fMRI"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
The topic i

[2020-04-27 17:40] danielskatz commented on #2
Thanks @elliewix - I think there is certainly some overlap, since the lesson project you point at is, as far as I can tell, aimed to training RSEs, and some RSEs do try to create sustainable projects.

[2020-05-04 16:20] lauzikaite opened #38 "R for survival analysis (and more)"
I'm sharing existing materials that we have been using during our 2-day introductory workshops to R.

1. What is the topic of your lesson or lesson proposal?
The goal of this lesson is to practice the common methods for data manipulation and visualisation, as well as survival analyses using the mortality dataset of the Game of Thrones series. It is designed to be taught at the end of a 2-day intro

[2020-05-05 15:15] ErinBecker commented on #37
Thank you @jadesjardins! Sorry for the delayed response. I'll work on getting your materials transferred over to the Incubator this week and let you know if I have any questions.

[2020-05-05 15:21] ErinBecker commented on #38
Wow! Cool dataset @lauzikaite! I'll work on transferring this material this week and let you know if I have any questions.

[2020-05-07 17:25] jadesjardins commented on #37
Hi Erin! No need to apologize (trust me.. I would not have been able to response if you had followed up sooner!).
Question: We have a group that is developing several lesson module under the umbrella of "BrainImaging". Is there a way that we could start adding all of these proposals under a named "BrainImaging" project within carpentries-incubator/proposals? I think that this would help us stay or

[2020-05-10 02:49] ErinBecker opened #40 "Issue template out of date"
From @zkamvar  -

[2020-05-10 02:51] ErinBecker commented on #38
@lauzikaite - you should have just received an invitation to join the carpentries-incubator GH organisation. After you accept that invite, you should have permission to transfer your lesson materials into the incubator (Settings (all the way at the bottom, in the Danger Zone) --> Transfer). Let me know if you have any questions!

[2020-05-10 03:09] ErinBecker commented on #37
@jadesjardins - Thanks for the understanding 😄

One question back to you before we get these materials transfered. It looks like the link you shared is a fork of https://github.com/TIGRLab/2019-05-27-fmri-python. We'd like all incubator lessons to be parent repositories, to avoid issues down the line. Could you please use the [GitHub Importer](https://github.com/new/import) to import your material

[2020-05-12 08:43] lauzikaite commented on #38
@ErinBecker, transfer is done.
Can you point me to documentation on how can I continue contributing to this lesson? I am not sure if it's true a fork and directly? At the moment, I just want to modify the website link so that our team could keep using the materials with students. Thanks!

[2020-05-18 14:43] fmichonneau commented on #38
Hi @lauzikaite

You have admin access to the repo at the new location.

You can update the URL for your remote, in the directory where your lesson lives on your system:

[code]

(if you're remote is called origin and you use the https protocol)

and then you can pull/push as usual.

Let us know if you have any questions.

[2020-05-18 14:43] #38 closed

[2020-05-18 14:49] fmichonneau commented on #40
I'd like to keep the old format, as the new format (at least in my tests a few months ago) would require an additional click before people interested in submitting a new lesson would see the template. Closing now, but feel free to re-open if you think the other format would be better.

[2020-05-18 14:49] #40 closed

[2020-05-18 17:00] ErinBecker commented on #38
Thanks @fmichonneau for answering @lauzikaite's questions. Please let us know if you have any other questions. :-)

[2020-05-26 17:17] lexnederbragt commented on #16
I would highly appreciate it if the lesson '[Python Testing and Continuous Integration](http://katyhuff.github.io/python-testing/)' could be added here as well. Github repo:  https://github.com/katyhuff/python-testing. (I also filed an [issue there](https://github.com/katyhuff/python-testing/issues/31)).

[2020-06-03 16:02] jadesjardins commented on #37
Hi Erin,
Very sorry that I went AWOL again. I missed the invitation that you sent me (to re-import the fMRI repo) and let it expire. Could you resend it to me?
Also, I have started looking to the github "Projects" to see if this could help with the organization/coordination of the various "BrainImaging" repos that are currently being developed and scheduled to be imported to the Carpentries Incuba

[2020-06-10 08:03] fmichonneau commented on #37
@jadesjardins I just re-sent you the invitation. Importing the different repos at this time would work well. Thanks!

[2020-06-16 12:56] edbennett opened #41 "Introduction to Object-Oriented Programming in Python"
An introduction to Object-Oriented Programming, using Python as the language, assuming some knowledge of Numpy and Matplotlib but not beyond that covered in the Software Carpentry python-novice-* courses. Targeting those who have some experience of using the skills learned from Software Carpentry but will now need to work with object-oriented software for whatever reason (e.g. the project they are

[2020-06-16 20:55] ErinBecker commented on #16
Thanks @lexnederbragt, I'd be very happy to have that lesson in the incubator. Waiting for a response from @katyhuff in that issue.

[2020-06-16 21:17] katyhuff commented on #16
Sure! I have extremely limited bandwidth at the moment to be helpful with this, but I can certainly transfer the repo if that's all it takes.

[2020-06-17 13:12] edbennett commented on #41
One thing not mentioned above: we ran this last week for a group of PhD students in AI and ML, and it was quite well-received.

[2020-06-17 16:49] davis68 opened #42 "Data Carpentry for Business (Python module)"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

**Python f

[2020-06-17 16:54] davis68 commented on #30
@RobHarrand please check #42 to see if it works for your needs.

[2020-06-18 19:42] ErinBecker commented on #42
Hi Neal - thanks for submitting your lesson (I love the waffle cat). I've gone ahead and transferred the lesson to the Incubator and you should now see it rendered at https://carpentries-incubator.github.io/python-business/.  Within the next 24 hours, it should also appear on the [Community Developed Lessons](https://carpentries.org/community-lessons/) page.

I've also sent you an invitation to jo

[2020-06-18 19:45] #42 closed

[2020-06-18 19:48] ErinBecker commented on #41
Thanks for sharing your materials @edbennett! I'd like to note that, as you've already taught this lesson, it will be tagged as `alpha` once it goes live in The Incubator and will appear as such on the [Community Developed Lessons](carpentries.org/community-lessons/) page. As you're not ready to transfer the materials over at this point, I'll still send you an invitation to join the carpentries-in

[2020-06-18 23:27] ErinBecker commented on #37
Thanks @fmichonneau for resending! @jadesjardins - I see that the SDC-BIDS-IntroMRI and SDC-BIDS-dMRI repos are now in the Incubator. I don't see them showing up yet on the [Community Developed Lessons](https://carpentries.org/community-lessons/) page, but I think that's just a function of them not having the right tags. I'll tag them now and then check if they show up on the page. If so, I'll go

[2020-06-18 23:50] ErinBecker commented on #34
@RobHarrand - I've just checked and found that your lessons wasn't showing up on the [Community Developed Lessons page](https://carpentries.org/community-lessons/). I **think** this is because it didn't have the right GitHub Topics tags, but I'm not positive. I've added the tags now and will check back in the next 24 hours to see if it is showing up on the page. @fmichonneau, please let me know if

[2020-06-19 07:25] fmichonneau commented on #34
yes it was missing the appropriate tags. It'll appear on the community developed lessons page soon. Thanks!

[2020-06-19 07:25] #34 closed

[2020-06-19 07:32] RobHarrand commented on #34
Thanks @ErinBecker , I hadn't even checked! I'm currently in the process of trying out the material of my workshop with some work colleagues via Teams. Going well so far and getting some good feedback on changes.

[2020-06-30 19:35] ErinBecker commented on #37
@jadesjardins - I'm following up to confirm that yes, these lesson do now appear on the Community Developed Lessons page.

A couple of small (?) followups:
1) Right now, both lessons are showing up with the same title ("Introduction to MRI and BIDS") so I recommend changing one or more of the lesson titles (the Community lessons page pulls from the GH repo description).

2) I'm working to standard

[2020-07-02 19:18] jadesjardins commented on #37
Hi Erin,

Responses below...

On 2020-06-30 3:35 p.m., Erin Becker wrote:

I will change the name of the dMRI lesson.

Changing to "Maintain" sounds good.

Can you remove https://github.com/carpentries-incubator/SDC-BIDS-dMRI
and https://github.com/carpentries-incubator/SDC-BIDS-IntroMRI ? Then I
will re-import them from the origin instead of the fork.

[2020-07-02 21:03] ErinBecker commented on #37
Perfect. Thanks for the quick response @jadesjardins. I've deleted those two repos. Once you've re-imported them, I'll adjust the access settings to "Maintain" and add the correct tags back on so it renders properly on the community lessons page.

[2020-07-17 11:43] anenadic commented on #21
Related materials by UK colleagues, "Data Science for Doctors": http://datascibc.org/Data-Science-for-Docs/

[2020-07-17 11:50] anenadic opened #44 "Data Science for Doctors"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Data scienc

[2020-07-17 12:42] anenadic commented on #44
I have a feeling I have submitted this material here once already but could not find it. So here it is again :-).

[2020-07-23 20:47] davis68 opened #45 "Data Harvesting for Agriculture"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

What is the topic of your lesson or lesson proposal?

**R and tools

[2020-07-28 14:46] evebohnett opened #46 "Data Organization for Camera Trap Images"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Data Organi

[2020-07-30 18:21] tobyhodges opened #47 "Building Websites with GitHub & Jekyll"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Building W

[2020-07-31 07:29] lexnederbragt opened #48 "Promote the page with lessons more"
Hi! I love the incubator/lab, but every time I want to find the list of lessons, I struggle. The url is https://carpentries.org/community-lessons, but it is not mentioned very often - most links go to the readme of this repo. On carpentries.org only https://carpentries.org/learn/ links to it, as far as I can tell. Why not link from https://carpentries.org/workshops-curricula/? Also, this repo coul

[2020-08-04 21:38] ErinBecker commented on #48
Thanks for this issue @lexnederbragt. I completely agree that the community lessons page needs more visibility. We have a new full-time member of the Curriculum Team joining in under two weeks (17 August) who will be putting all of their time towards Incubator/Lab work. I'll tag this issue for follow up by them when they start. 😄

[2020-08-05 23:40] jayGattusoNLNZ opened #49 "New Lesson - Pymarc basics for Librarians"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

How to use

[2020-08-07 15:22] wallacelab commented on #48
Quick and easy fix: Link to https://carpentries.org/community-lessons in the Proposals readme (ideally near the top). I just had the same issue, and navigating up to the Proposals root made it look like a nearly empty repository. If I hadn't clicked on this Issue, I probably would never have found the list of lessons.

[2020-08-07 22:29] ErinBecker commented on #48
Thanks @wallacelab. I've added that link to the top section of the readme. Leaving this issue open though as I'd like to take a closer look at how we promote and publicize the lessons page across our websites and documentation.

[2020-08-12 06:14] DC23 opened #50 "Request addition of Snakemake Workshop to Incubator"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Data proces

[2020-08-13 09:24] PhilReedData opened #51 "Introduction to TEI (XML metadata and transcriptions)"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
**Introduct

[2020-08-14 02:28] go-bears opened #52 "Collaborative Distributive Version Control with Git and Remotes"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
collaborati

[2020-08-15 19:15] nselem opened #53 "Metagenomics and Pangenomics #lesson-idea"
1. What is the topic of your lesson or lesson proposal?
Analysis of metagenomics and pangenomics data

I have enjoyed the Software Carpentry's Genomic lesson, and I think we can go further and develop metagenomics and pangenomics lessons. Since in my work I need to teach both of them in this semester, I am going to start developing this idea, and I would be glad to have collaborators. I am plannin

[2020-08-18 18:47] jcohen02 opened #54 "Singularity Introduction"
Introduction to [Singularity](https://github.com/hpcng/singularity)

Yes. The material is available as episodes [11](https://imperialcollegelondon.github.io/2020-07-13-Containers-Online/09-singularity-gettingstarted/index.html), [12](https://imperialcollegelondon.github.io/2020-07-13-Containers-Online/10-singularity-containers/index.html), [14](https://imperialcollegelondon.github.io/2020-07-13-Co

[2020-08-24 07:40] tobyhodges commented on #44
Hi @anenadic ! Thanks for providing this information. It seems like you're recalling #22, which was closed after [this repository](https://github.com/carpentries-incubator/Data-Science-for-Docs) was created in the Incubator. Edward Palmer and Steve Harris are maintainers on that repository. Please let me know if you need any more information or if I can assist in any other way with this.

[2020-08-24 08:04] tobyhodges commented on #45
Hi @davis68 and thank you for sharing this material. As a member of the **carpentries-incubator** organisation on GitHub, you should be able to transfer https://github.com/data-carpentry-for-agriculture/trial-lesson to the Incubator. Once you've done so, I'll set up a Team for you and the other collaborators you listed above, to give you full access to the repository here. You should also be able

[2020-08-24 08:08] tobyhodges commented on #46
Thank you for the lesson suggestion, @evebohnett. It sounds like it could be really useful for many researchers. Please let me know if you'd like me to create a repository for this lesson in the Incubator, so you and/or others can begin working on materials.

[2020-08-24 08:29] tobyhodges commented on #49
Thanks for submitting your materials, @jayGattusoNLNZ! You should have received an invitation to join the **carpentries-incubator** organisation, and a team that I've set up for collaboration on this lesson. Once you've accepted the invitation, you should be able to transfer your repository to the Incubator and continue working on it here. Please post back here once you've set the transfer going,

[2020-08-24 08:51] tobyhodges commented on #50
Hi @DC23, thanks so much for sharing this Snakemake material. I know many researchers who would find this lesson helpful.

To answer your question regarding the transfer (Q6 above): transferring the repo would indeed mean moving the location from under the **csiro-data-school** namespace to **carpentries-incubator** (this organisation). If you're happy to do that I would add you to this org, after

[2020-08-24 09:06] tobyhodges commented on #51
Hi @PhilReedData, thanks for sharing this TEI lesson material! I'd like to help you get this transferred into the Incubator: you and the collaborators you listed above should have received an invitation to join the **carpentries-incubator** organisation. Once you've accepted that invitation, you should be able to initiate the repository transfer and continue developing the lesson in its new home!

[2020-08-24 09:15] anenadic commented on #44
Duuh, thank you @tobyhodges - I had a feeling Steve or I already submitted it in the past but could not find the repo. Closing the issue.

[2020-08-24 09:15] #44 closed

[2020-08-24 09:22] tobyhodges commented on #52
Hi @go-bears, thanks for sharing this lesson proposal. Before I can help you transfer this material into the Carpentries Incubator, the lesson needs to be set up to use [our lesson template](). At the moment it uses the Code Refinery template, which is related to the Carpentries template but not identical. If you'd like work towards transferring the material into the Incubator and need help with a

[2020-08-24 09:50] PhilReedData commented on #51
Thanks very much, @tobyhodges. It's been a while since I did a transfer, I've now successfully moved the [lessons here](https://github.com/carpentries-incubator/tei-xml) and the [new Github Pages here](https://carpentries-incubator.github.io/tei-xml/). It looks like it transferred correctly to me, but please do check if you can.

For the next steps, is it up to me to lead here, do you have any doc

[2020-08-24 10:13] tobyhodges commented on #53
Thanks for the lesson idea, @nselem. You said you plan to begin working on these materials - do you already have a repository where you're doing that? If so, would you like me to help you transfer it over to the Incubator? Or, if you don't have a repository for your lesson yet, would you like me to create one for you here (setup to use the Carpentries lesson template)? A repository in the Incubato

[2020-08-24 10:25] tobyhodges commented on #54
Hi @jcohen02, I'd be happy to help you get these materials into the Incubator as a new lesson. I propose to create a repository for you here, containing the Carpentries template (i.e. an import of [this repository](https://github.com/carpentries/styles)). You could then configure the repository accordingly (set the relevant values in `_config.yml` etc - I can also help with this if you need) and m

[2020-08-24 10:36] tobyhodges commented on #51
Fantastic - looks good to me too! I've adjusted the access settings so that the other members of the **tei-maintainers** team (@ElizabethGow and @uom-nilani) will be able to work on the repository too. If you find later that there's something you're unable to do but would like to, please get in touch and I'll be happy to help.

Regarding next steps: I don't know if you're already familiar with [th

[2020-08-24 10:53] PhilReedData commented on #51
Ah yes, of course, the handbook, thank you. I also missed an opportunity to do some maintainer on-boarding this year, I think that will happen again in January for LC (though I will look out for other calls too).

I will take you up on your offer of a meeting, might be late September by the time we can regroup at our end (I will consult with some people who don't use GitHub too).

[2020-08-24 11:31] tobyhodges commented on #47
The lesson repository has been transferred to the Incubator:

repository: https://github.com/carpentries-incubator/building-websites-with-jekyll-and-github-or-gitlab
lesson pages: https://carpentries-incubator.github.io/building-websites-with-jekyll-and-github-or-gitlab

closing now

[2020-08-24 11:31] #47 closed

[2020-08-24 11:32] tobyhodges commented on #51
Thanks, I've sent an email to the address we have for you in the Carpentries database. Looking forward to chatting more about this. I'll close this issue now, but please feel free to get in touch if you hit any obstacles further down the line.

[2020-08-24 11:32] #51 closed

[2020-08-24 13:29] davis68 commented on #45
All right, that's pulled in.  How should I go about setting up TopicBox for discussions?

[2020-08-24 13:29] #45 closed

[2020-08-24 13:55] tobyhodges commented on #45
Great, thanks @davis68! Please send your request for a new list on Topicbox to _team [at] carpentries [dot] org_ and a member of the core team will set that up for you.

[2020-08-24 14:26] nselem commented on #53
Hello,
Yes, I started the repo from https://github.com/BetterLabMx/metagenomics, it does not have content yet, jus the title, but I will be working on it. Please transfer the repo to the Incubator.
Nelly

[2020-08-25 01:41] DC23 commented on #50
Hi @tobyhodges ,

Thanks for your reply. Yes, I would like the lesson transferred to the incubator. Once that is complete I will fork it back to the CSIRO Data School so we can keep CSIRO-specific modifications there (mostly to setup and cluster access instructions).

Resetting back to Alpha seems perfectly appropriate.

Cheers,
Daniel

[2020-08-25 03:20] jayGattusoNLNZ commented on #49
Sweet! I moved it over... let me know if it checks out OK...

J

[2020-08-25 08:57] tobyhodges commented on #53
@nselem you should have received an invitation to join the **carpentries-incubator** organisation. Once you've accepted that, you should be able to initiate the repo transfer from the settings page of your lesson repository. Once that's done, I'll take care of a few things to get the lesson ready for listing on our [Community Lessons page](https://carpentries.org/community-lessons/), and you can g

[2020-08-25 09:03] tobyhodges commented on #49
Looks good @jayGattusoNLNZ! I've added the lesson pages URL to the repository, and I'll soon update the topic tags on the repo so the lesson shows up on our [Community Lessons page](https://carpentries.org/community-lessons/). I'll close this issue now, but please reopen or get in touch with me (my GitHub username [at] carpentries [dot] org) if you need any more help. I'll reach out by email in th

[2020-08-25 09:03] #49 closed

[2020-08-25 09:09] tobyhodges commented on #50
Thanks @DC23. I've invited you to join the **carpentries-incubator** organisation, after which you can initiate the repo transfer from the settings page of your current repository. If you'd like to adjust the lifecycle stage after you've done that, please go ahead. Otherwise, I can do it for you at the same time as I set the topic tags on the repository so the lesson gets listed on our [Community

[2020-08-26 09:53] jcohen02 commented on #54
Hi @tobyhodges, sorry for the delay in getting back to you but yes, this all sounds good and thanks for the offer of assistance. I assume that since the material is already using the Carpentries template, once you've set up the new repository as an import of the base Carpentries repo and I make the relevant updates in `_config.yml`, it should just be possible to commit the Markdown files containin

[2020-08-26 16:29] tobyhodges commented on #54
Great @jcohen02! I've created the repository at https://github.com/carpentries-incubator/singularity-introduction. You should have access, but please post here if you have any trouble.

That repository is a "blank slate" to which you should indeed be able to add the existing Markdown episode files. I've added a general checklist to the README too, so you might want to look through that and delete

[2020-08-27 12:36] BetterLabMx commented on #53
Maybe you need to invite me with this account, @BetterLabMx, because is where I started the repo. I already joined the carpentries-incubator as Nelly Selem, but as Nelly I don't have access to the settings page.

[2020-08-27 13:18] tobyhodges commented on #53
Done 👍

[2020-08-27 13:42] BetterLabMx commented on #53
Me too, Done

[2020-08-27 13:53] tobyhodges commented on #53
Thanks! I've updated the tags on [the new repository](https://github.com/carpentries-incubator/metagenomics), so the lesson should appear on our [Community Developed Lessons page](https://carpentries.org/community-lessons/) soon. I'll also submit a Pull Request in the next day or so, to update the lesson to use the latest version of The Carpentries theme so that it's consistent with other lessons

[2020-08-27 13:53] #53 closed

[2020-08-28 18:00] jcohen02 commented on #54
Hi @tobyhodges, I've prepared the Singularity material for an initial import into the [singularity-introduction](https://github.com/carpentries-incubator/singularity-introduction) repo. I've made a few edits to disconnect the material somewhat from the docker material that it was originally integrated with and I've also updated the other repository metadata files so things should be ready to go.

[2020-08-28 18:21] nselem commented on #53
Please could you alse add as contributor to @EdderDaniel he is interested in collaborating

[2020-08-29 17:49] go-bears commented on #52
thank you for your note @tobyhodges! Would love to have more guidance in how to make this lesson a mainstream SWC carpentry lesson! I do need help & would appreciate any guidance or hands to do so. Thank you!

[2020-08-29 18:51] go-bears commented on #52
Would the first step be to change the css file from code refinery and the base.html layout to the ones found in the swc lesson templates?

[2020-08-31 02:37] evebohnett commented on #46
Thanks. I'm down for helping to start the process. Data Carpentry for Camera Traps
Best,
Eve Bohnett

    On Monday, August 24, 2020, 04:08:28 AM EDT, Toby Hodges <notifications@github.com> wrote:

Thank you for the lesson suggestion, @evebohnett. It sounds like it could be really useful for many researchers. Please let me know if you'd like me to create a repository for this lesson in the Incubat

[2020-08-31 07:37] tobyhodges commented on #46
@evebohnett that's great to hear! You should have received invitations to join **carpentries-incubator** and the blank slate repo (https://github.com/carpentries-incubator/camera-traps/) for the lesson. The lesson pages are being served at https://carpentries-incubator.github.io/camera-traps/ If you're not sure where to start with developing the lesson, there's a checklist of suggested first steps

[2020-08-31 07:37] #46 closed

[2020-08-31 07:39] tobyhodges commented on #48
Thanks for prompting this, @lexnederbragt & @wallacelab

Addressed via https://github.com/carpentries/carpentries.org/pull/861

I'll close this now but please feel free to reopen/create a new issue if and when you identify other ways for us to promote the community developed lessons.

[2020-08-31 07:39] #48 closed

[2020-08-31 07:42] tobyhodges commented on #26
Since #49 was accepted and https://github.com/carpentries-incubator/pymarc_basics created, can this be closed? Or is the lesson proposed here separate from that pyMARC intro? @jayGattusoNLNZ

[2020-08-31 07:44] tobyhodges commented on #54
Thanks for the reminder, @jcohen02: I forgot to update the access levels when I created the repository. I've done that now and I hope you can now push your branch directly to https://github.com/carpentries-incubator/singularity-introduction

Please give that a try and post back here to let me know how you get on. For now I'll reopen this Issue, so I don't forget to watch out for updates...

[2020-08-31 07:57] tobyhodges commented on #37
This looks like it was taken care of, so I'm closing this Issue. Please post back here if there's still a reason to keep it open and I'll be happy to reopen.

[2020-08-31 07:57] #37 closed

[2020-08-31 08:59] tobyhodges commented on #31
Hi @NatalieThurlby, it looks like this lesson hasn't been transferred into **carpentries-incubator** yet. Reaching out here to see if there's anything I do to help you get set up?

[2020-09-01 09:34] jcohen02 commented on #54
Many thanks @tobyhodges, this all looks good now - I've pushed the branch and opened a [PR](https://github.com/carpentries-incubator/singularity-introduction/pull/1).

I haven't merged yet in case you wanted to check the material first but if you're happy for me to just go ahead and merge, I'll do so. I've also added a couple of issues that you may be able to offer some advice on?

[2020-09-02 09:39] tobyhodges commented on #54
Great to see this, @jcohen02! It looks great to me and I'm very happy to see that @sstevens2 reviewed the PR. I'm going to close this Issue now but please don't hesitate to get in touch if you have any questions or run into any trouble. I'll be in touch again by email to discuss more about how I and the rest of the core team can support you in the development of the Singularity lesson.

[2020-09-02 09:39] #54 closed

[2020-09-06 00:14] DC23 commented on #50
Hi @tobyhodges, my apologies but can you please resend the incubator invite? Things have been crazy at work and I overlooked the invite. It has now expired.

[2020-09-07 08:00] tobyhodges commented on #50
✅ I've resent the invitation, @DC23

[2020-09-14 13:44] lgatto opened #56 "Bioconductor data science intro"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Adapt the

[2020-09-14 13:47] lgatto opened #57 "The Bioconductor project"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

The Biocon

[2020-09-14 14:09] tobyhodges commented on #56
Thanks @lgatto. You and your collaborators should have received an invitation to join the **carpentries-incubator** organisation and the team of developers for this new lesson. I've created the "blank slate" repository for this lesson here: https://github.com/carpentries-incubator/bioc-intro

The README of that repository includes some instructions to get you started with creating the lesson. If y

[2020-09-14 14:10] tobyhodges commented on #57
Thanks @lgatto. You and your collaborators should have received an invitation to join the **carpentries-incubator** organisation and the team of developers for this new lesson. I've created the "blank slate" repository for this lesson here: https://github.com/carpentries-incubator/bioc-project

As with the `bioc-intro` lesson repository, the README includes some instructions to get you started wit

[2020-09-14 15:14] csoneson opened #58 "Analysis and interpretation of bulk RNA sequencing data using Bioconductor"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

`Analysis

[2020-09-14 19:35] #26 closed

[2020-09-14 19:35] jayGattusoNLNZ commented on #26
lesson is now incorporated into the incubator

[2020-09-15 07:31] tobyhodges commented on #58
Thanks @csoneson. You and @jdrnevich should have received an invitation to join the **carpentries-incubator** organisation and the team of developers for this new lesson. I've created the "blank slate" repository for this lesson here: https://github.com/carpentries-incubator/bioc-rnaseq

The README of that repository includes some instructions to get you started with creating the lesson. If you ge

[2020-09-16 19:47] SaranjeetKaur opened #59 "Materials to teach and learn the Julia programming language"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Answer: `Ex

[2020-09-17 11:53] tobyhodges commented on #59
Hi @SaranjeetKaur, thank you for submitting this proposal. I'd be very excited to see lesson material on Julia included in The Carpentries Incubator!

Lesson developers do not need to be certified Carpentries Instructors but we do require that developers abide by our [Code of Conduct](https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html#code-of-conduct-summary-view). Additional

[2020-09-17 12:00] SaranjeetKaur commented on #59
Thank you so much for your comment!

I would need a single repository, in which I will create separate sections: for each sub-topic.

As of now, I don't know the GitHub usernames of those who can potentially be a part of these materials. Will progress on this front with time. And take care that they abide by the Code of Conduct and refer the Curriculum Development Handbook.

[2020-09-17 12:03] SaranjeetKaur commented on #59
Later on we might need more repositories. However, I'm unable to see the need for more than one repository at the moment.

[2020-09-17 12:06] tobyhodges commented on #59
Okay, excellent. Thanks for the swift response. We're almost ready to go then.

I'd prefer to choose a name more specific than `julia-materials` for the lesson. This will help us make a distinction between Julia lessons in case you or someone else chooses to develop another lesson about Julia, for another topic that doesn't fit with this one.) **Would you be happy with `julia-novice`?** This would

[2020-09-17 12:40] SaranjeetKaur commented on #59
`julia-novice` sounds good!

[2020-09-17 12:52] tobyhodges commented on #59
@SaranjeetKaur You should have received invitations to join [the repository](https://github.com/carpentries-incubator/julia-novice) and the Team I've set up for you to add collaborators to in the future. I'll also add some topic tags to that repository, so your new lesson appears on our [Community Developed Lessons page](). You might find that other community members reach out to you as potential

[2020-09-17 12:53] SaranjeetKaur commented on #59
Thank you so much @tobyhodges ! Will definitely keep you updated on this front.

[2020-09-17 13:06] #59 closed

[2020-09-17 13:06] #56 closed

[2020-09-17 13:06] #58 closed

[2020-09-17 13:06] #57 closed

[2020-09-17 13:09] #50 closed

[2020-09-17 13:10] tobyhodges commented on #50
Closed after [the lesson was transferred into the Incubator](https://github.com/carpentries-incubator/workflows)

[2020-09-17 13:14] logankilpatrick commented on #59
Hey all, happy to help on this front!

[2020-09-17 13:33] SaranjeetKaur commented on #59
Great to have you here @logankilpatrick ! 😊

[2020-09-23 20:27] davis68 opened #60 "SQL for Business"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

SQL for bu

[2020-09-24 12:32] tobyhodges commented on #60
Thanks @davis68 we'd love to include this lesson in The Carpentries Incubator. I've created a Team for the maintainers you listed above, and you can go ahead and transfer the repository into the **carpentries-incubator** organization whenever you're ready. Once that's done, I'll make sure everything's set up correctly on our side e.g. for the lesson to be listed on the [Community Developed Lessons

[2020-09-24 14:18] tobyhodges commented on #60
Thanks for making the transfer, @davis68. I've updated the repository topic tags so it shoudl show up on the Community Developed Lessons page in the next 24 hours. I'll close this Issue now but feel free to re-open and post back here if you need any more help getting set up to continue development on this lesson in the Incubator.

[2020-09-24 14:18] #60 closed

[2020-09-24 17:15] bast commented on #52
Hi @go-bears I just want to apologize for the wait because Toby reached out to me (representing CodeRefinery) and I have been extremely slow responding. I will discuss this with Toby on Tuesday. Within CodeRefinery we are of course super interested if this lesson gets more exposure and uptake. One thing that we need to carefully think about is how to avoid that this lesson diverges if it is mainta

[2020-10-09 10:51] alex-konovalov opened #61 "Programming with SageMath lesson proposal"
1. What is the topic of your lesson or lesson proposal?

The lesson is about programming in SageMath, an open source computer algebra system (https://www.sagemath.org/)

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

Yes: https://ccp-codima.github.io/sage-lesson/

3. Do you

[2020-10-09 13:40] sstevens2 opened #62 "Text Analysis with Python"
1. What is the topic of your lesson or lesson proposal?

Learning python and some beginning of text analysis (with nltk) for digital humanities

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

No, but we have started drafting learning objectives and the lesson outline.  We w

[2020-10-09 13:40] sstevens2 commented on #62
cc: @claremichaud

[2020-10-09 13:52] tobyhodges commented on #62
Thanks for the lesson proposal, @sstevens2! I can set up a "blank slate" repository for the lesson in The Incubator and give you Admin access to take care of the further development. Is there anyone else you'd like to be included in the maintainer team for this lesson?

[2020-10-09 14:17] jhidding opened #63 "Parallel Programming in Python"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
    - Paral

[2020-10-09 20:15] sstevens2 commented on #62
Thanks @tobyhodges!  I know @claremichaud will need to be a maintainer but don't have github ID's for the other folks who will be helping yet.   Can I reach out later when I have the list?

[2020-10-12 11:49] tobyhodges commented on #61
Thanks for your lesson proposal, @alex-konovalov! You're already a member of the carpentries-incubator organisation, so you should be able to go ahead and transfer the lesson repository into The Incubator whenever you're ready. Once you've done so, I'll take care of adding the required topic tags etc to get the lesson listed on the Carpentries website etc.

Please post back here if you have any qu

[2020-10-12 11:55] tobyhodges commented on #62
Great, thank you @sstevens2 - I've created the blank lesson repository at https://github.com/carpentries-incubator/python-text-analysis

@claremichaud is on the maintainer team and I've granted you Admin access to the repository, so you can add other collaborators yourself. But I'll also be happy to do so if and when you know the GitHub handles of your other collaborators.

I'm going to close this

[2020-10-12 11:55] #62 closed

[2020-10-12 16:37] sstevens2 commented on #62
Thanks for setting up the repo and permissions @tobyhodges!  I'll reach out if I have any questions but I'm happy to add the collaborators myself.

[2020-10-13 20:53] ewallace opened #64 "Good Enough Practices"
1. What is the topic of your lesson or lesson proposal?

**Good Enough Practices in Scientific Computing.** It is the 3 hour carpentries format version of [Good Enough Practices in Scientific Computing](https://doi.org/10.1371/journal.pcbi.1005510): "a set of good computing practices that every researcher can adopt, regardless of their current level of computational skill". It is absolutely entry

[2020-10-16 17:41] alex-konovalov commented on #61
Thanks @tobyhodges - the repository is now at https://github.com/carpentries-incubator/sage-lesson, please take care of the tags etc.

[2020-10-17 07:15] tobyhodges commented on #61
Thanks @alex-konovalov, this is great to see! I've updated the lesosn URL and the topic tags on the repository, so you should see it listed on the [page of Community Developed Lessons](https://carpentries.org/community-lessons/#list-of-community-developed-lessons-by-topic) very soon.

I'll close this issue now but please feel free to reopen and post here if you have any trouble with the lesson rep

[2020-10-17 07:15] #61 closed

[2020-10-20 14:29] tobyhodges commented on #63
Thanks for submitting this proposal, @jhidding I think the lesson is very relevant to many in our community. I'll invite you to the carpentries-incubator organization so that you can transfer the repository into the Incubator, but need to mention one thing to take care of afterwards: once in The Carpentries Incubator, the lesson pages should use the Incubator theme (set in `_config.yml` with `carp

[2020-10-20 14:44] tobyhodges commented on #64
Thanks @ewallace, this lesson idea seems very appropriate for The Carpentries!

You should have received an invitation to join the carpentries-incubator organization. After you've accepted that, you can transfer the repository over to the Incubator and continue developing the lesson here. I will set the relevant topics on the repository, to make sure that it appears on our [Community Developed Les

[2020-10-20 16:49] jhidding commented on #63
I tried to do that but things fail to build now (in the incubator branch). There are some unmerged pull requests that I'd like to resolve with our team before I transfer ownership (we'll get to it on Friday).

[2020-10-23 17:47] BetterLabMx commented on #53
Hello Toby

Please could you alse add as contributor to @EdderDaniel
<https://github.com/EdderDaniel> to the metagenomics lesson he is
interested in collaborating and we are starting to work in the lesson

Thanks

Nelly

El vie., 28 ago. 2020 a las 13:22, Nelly Sélem (<notifications@github.com>)
escribió:

[2020-10-24 19:14] alex-konovalov commented on #61
@tobyhodges excellent, thanks! All looks good so far.

[2020-10-26 09:05] tobyhodges commented on #63
Thanks for [transferring the lesson over](https://github.com/carpentries-incubator/lesson-parallel-python), @jhidding! I'm going to close this issue now, but please post back here or tag me in an issue on the lesson repository if you have any questions or need any help.

[2020-10-26 09:05] #63 closed

[2020-12-09 15:49] alex-konovalov commented on #61
@tobyhodges can I please have admin rights for https://github.com/carpentries-incubator/sage-lesson ? Thanks

[2020-12-09 16:00] tobyhodges commented on #61
Done @alex-konovalov. Sorry I missed that setup the first time around!

--

Dr Toby Hodges (he/him)
Curriculum Community Developer
The Carpentries | https://carpentries.org

Schedule a meeting with me: https://calendly.com/tobyhodges <https://calendly.com/tobyhodges>

[2020-12-18 19:17] kescobo commented on #59
I would also be happy to get in on this, or (if desired) a parallel Data Carpentry curriculum in julia. I applied for instructor training and will complete as soon as is feasible - please let me know how I can support this effort :+1:

[2021-01-03 06:00] SaranjeetKaur commented on #59
Glad to have you here @kescobo !

[2021-01-07 22:43] tkphd opened #65 "HPC-Carpentry: HPC Intro"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

    A basi

[2021-01-11 11:35] tobyhodges commented on #65
Thank you for submitting this lesson to the Incubator, @tkphd. I've invited you and your collaborators to the carpentries-incubator organization on GitHub, in the _hpc-intro-maintainers_ team. After accepting that invitation, you should be able to transfer the repository from the hpc-carpentry namespace to carpentries-incubator. Please let me know if you have any trouble doing that, or if you have

[2021-01-11 12:48] tobyhodges commented on #65
I forgot to mention above: you will also need to update your URLs.

Lesson pages URL is now https://carpentries-incubator.github.io/hpc-intro/

... and you can update the remote url for your local versions with git. the examples below assumes this remote is called `origin` on your local system.

[code]

[2021-01-11 15:55] tkphd commented on #65
Done! (Other folks with local clones of the repo will have to change their own remote URLs.)

[2021-01-11 17:31] tobyhodges commented on #65
I am going to close this issue now that most of the transfer process seems to have gone smoothly. But please feel free to post back here or ping me in another issue if you run into any trouble or have any further questions. Great to have you aboard!

[2021-01-11 17:31] #65 closed

[2021-01-18 18:27] wallacelab opened #66 "Analysis of Microbial Amplicon Data"
1. What is the topic of your lesson or lesson proposal?

Analysis of data related to microbial communities from diverse environments. Specifically, this lesson will focus on analysis of "amplicon" data made from sequencing specific short sections of DNA to identify which organisms are present. (This is in contrast to "shotgun" metagenomics, which looks at all DNA and which already has [a Carpentri

[2021-01-19 12:44] tobyhodges commented on #66
Hi @wallacelab thanks for submitting this lesson idea. I think it would be a great fit, especially as I know you are planning to make reference to the existing shotgun metagenomics lesson where overlaps exist.

Would you like me to create a placeholder repository for this lesson in The Carpentries Incubator? I would then invite you to join the *carpentries-incubator* organisation and give you Admi

[2021-01-19 19:38] wallacelab commented on #66
Thank you. And yes, please create a placeholder that we can start working on. I’ve reached out to other folks and I assume I can add them later if need be.

-Jason

Jason Wallace
University of Georgia | Department of Crop & Soil Sciences
jason.wallace@uga.edu<mailto:jason.wallace@uga.edu> | 706-542-9696<tel:7065429696>
wallacelab.uga.edu<https://wallacelab.uga.edu/> | Twitter<https://twitter.com/t

[2021-01-20 08:53] tobyhodges commented on #66
Great! The lesson repository is now set up at https://github.com/carpentries-incubator/microbial-amplicon-analysis and you should have received invitations to join the repository, the lesson maintainer team, and the carpentries-incubator organisation. You're right - as Admin on the repository you can invite anyone else you want to grant access to.

When you get started on developing your lesson, I

[2021-01-20 08:53] #66 closed

[2021-01-25 09:29] ezherman opened #67 "Statistical analysis for public health"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Statistica

[2021-01-25 09:54] tobyhodges commented on #67
Hi @ezherman thanks for submitting this proposal. The lesson topic sounds very relevant to The Carpentries community and I'm happy to help you get started! I can create a repository for you in the Incubator, where you can begin developing the lesson. I will call that repository `statistics-r-public-health` unless you want to suggest a different name?

Once the repository is set up, I will invite y

[2021-01-25 13:56] ezherman commented on #67
Hi @tobyhodges thanks for responding quickly! A repository in the Incubator under the name `statistics-r-public-health` sounds great.

It would be great if you could invite my collaborators Emma Rand (@3mmaRand) and Andrew Stewart (@ajstewartlang) to the `carpentries-incubator` organisation on GitHub as well.

Please let me know if there is anything else I can do!

[2021-01-25 16:27] tobyhodges commented on #67
Hi @ezherman I've created the repository at https://github.com/carpentries-incubator/statistics-r-public-health and you should all have received invitations to join a Team within the `carpentries-incubator` organisation, which will give you Maintain-level access to the repository. Additionally, I have granted you, @ezherman, Admin access to the repository so you can administer it as you please. 🚀

[2021-01-25 16:27] #67 closed

[2021-01-28 09:59] ezherman commented on #67
Hi @tobyhodges, I was wondering whether I could get your thoughts on the scope of the repo. As I understand it, the repo is meant to be used for a single lesson. Our two-day workshop will consist of six lessons, taught over ~30 episodes. Do I develop all episodes in the present repo (i.e. scope of the repo is the workshop), or should I request a separate repo for each lesson? Looking at other repo

[2021-01-28 10:10] tobyhodges commented on #67
Hey @ezherman if the intention is to have multiple, relatively self-contained lessons in the end, it might be best to develop in multiple repositories right away. It will probably be easier to manage the initial design/development stages (deciding what content will belong in which episode/lesson, avoiding duplication of effort/content, setting objectives for episodes, etc) if you are working on ev

[2021-01-28 10:26] ezherman commented on #67
Awesome, thank you for these details @tobyhodges. I will discuss this tomorrow with @3mmaRand and then I'll let you know!

[2021-01-28 10:30] tobyhodges commented on #67
Sure. Feel free to reach out again if you need any more input from me during/after that discussion.

[2021-01-29 07:32] AiliSarre opened #68 "Small lesson addition: Comparison of data objects in R, use of the new waldo package"
1. What is the topic of your lesson or lesson proposal?

 I would like to propose a small episode or section on the use of a new R package for the comparison of objects. The purpose of the waldo package is to find and describe differences between two objects. This lesson would be small and could ideally be integrated into introductory course episodes, comparing data frames already established used

[2021-01-29 09:43] tobyhodges commented on #68
Hi @AiliSarre thanks for proposing this lesson idea. Data object comparison sounds like a relevant skill for The Carpentries community! Would you like me to create an empty lesson repository where you can work on this?

If you would prefer to propose this as an addition to one of The Carpentries existing R lessons, please open an issue on the relevant lesson repository and discuss it with the Main

[2021-01-29 10:28] AiliSarre commented on #68
Hi @tobyhodges Thanks for getting back to me so quickly. Yes, please help me create a new lesson repository. Then I assume I can propose to have it integrated into an existing lesson at a later time. I am not yet sure what lesson would be most suitable. I am still new to both the Carpentries and GitHub. Thank you for helping out.

[2021-01-29 10:42] ezherman commented on #67
Thanks @tobyhodges! It would be great if you could set up the following lesson repos:

- Statistical thinking for public health
- Simple linear regression for public health
- Multiple linear regression for public health
- Logistic regression for public health
- Linear mixed effects modelling for public health

[2021-01-29 11:15] tobyhodges commented on #68
I've created https://github.com/carpentries-incubator/r-object-comparison-waldo and invited you to join the repository and a Team for the lesson - please accept both invitations when you receive them.

As you're new to The Carpentries and GitHub, I can recommend the following resources to help get you started on the lesson:

- [The Lesson Example](https://carpentries.github.io/lesson-example/) pro

[2021-01-29 11:15] #68 closed

[2021-01-29 11:20] tobyhodges commented on #67
I will take care of that after lunch, @ezherman. For the sake of our record keeping, please could you open issues in this Proposals repository for each of these lessons? You can keep the issues extremely brief, including only the lesson title and a mention of this issue (#67), but it will help us to programmatically track the number of individual lessons proposed.

Also, I forgot to mention before

[2021-01-29 13:41] tobyhodges commented on #67
Here are the repositories:

- https://github.com/carpentries-incubator/statistical-thinking-public-health
- https://github.com/carpentries-incubator/simple-linear-regression-public-health
- https://github.com/carpentries-incubator/multiple-linear-regression-public-health
- https://github.com/carpentries-incubator/logistic-regression-public-health
- https://github.com/carpentries-incubator/linear-m

[2021-01-30 12:32] ezherman opened #69 "Statistical thinking for public health"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

See #67.

[2021-01-30 12:33] ezherman opened #70 "Simple linear regression for public health"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

See #67.

[2021-01-30 12:34] ezherman opened #71 "Multiple linear regression for public health"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

See #67.

[2021-01-30 12:34] ezherman opened #72 "Logistic regression for public health"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

See #67.

[2021-01-30 12:35] ezherman opened #73 "Linear mixed effects modelling for public health"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

See #67.

[2021-01-30 12:41] ezherman commented on #67
Thank you @tobyhodges, your help has been great! I have signed up to the two groups that you suggested. Looking forward to getting involved.

[2021-02-01 09:14] tobyhodges commented on #69
Thanks @ezherman. See #67 for relevant discussion. Lesson repository is here: https://github.com/carpentries-incubator/statistical-thinking-public-health

[2021-02-01 09:14] #69 closed

[2021-02-01 09:14] tobyhodges commented on #70
Thanks @ezherman. See #67 for relevant discussion. Lesson repository is here: https://github.com/carpentries-incubator/simple-linear-regression-public-health

[2021-02-01 09:15] #70 closed

[2021-02-01 09:15] tobyhodges commented on #71
Thanks @ezherman. See #67 for relevant discussion. Lesson repository is here: https://github.com/carpentries-incubator/multiple-linear-regression-public-health

[2021-02-01 09:15] #71 closed

[2021-02-01 09:17] tobyhodges commented on #72
Thanks @ezherman. See #67 for relevant discussion. Lesson repository is here: https://github.com/carpentries-incubator/logistic-regression-public-health

[2021-02-01 09:17] #72 closed

[2021-02-01 09:17] tobyhodges commented on #73
Thanks @ezherman. See #67 for relevant discussion. Lesson repository is here: https://github.com/carpentries-incubator/linear-mixed-models-public-health

[2021-02-01 09:17] #73 closed

[2021-02-01 10:14] ggrimes opened #74 "Workflow management with Nextflow and nf-core"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

**Workflow

[2021-02-01 10:44] tobyhodges commented on #74
Hi @ggrimes thanks for proposing the lesson! For the Study Groups program, you will need an empty "blank slate" lesson repository, which I will set up for you now. If and when the other material you mention above is ready to be migrated into the Incubator, please create another issue/issues and we can get those transferred here too.

[2021-02-01 10:52] tobyhodges commented on #74
@ggrimes the lesson repository is here: https://github.com/carpentries-incubator/workflows-nextflow
You should have received two invitations: one to join a Team of maintainers for this lesson (after you have joined I will grant you access to add others to this Team if/when you have other collaborators on the lesson) and one to join the lesson repository as Admin. Please accept both.

Resources for

[2021-02-01 10:52] #74 closed

[2021-02-02 11:22] NatePollard opened #75 "SSI Machine Learning Training Course"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Machine Lea

[2021-02-03 09:39] isazi opened #76 "GPU Programming"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

The topic

[2021-02-04 10:05] ewallace commented on #64
Thanks @tobyhodges. Our grant to work on this has just started. We have added @aromanowski, @tzielins, to the team. We will work on transferring the repo to the incubator soon and map out a development plan.

[2021-02-04 10:08] tobyhodges commented on #64
Excellent. Thanks for the update, @ewallace! Please post a link here when the transfer is done, and I will close the issue.

[2021-02-04 13:53] tobyhodges commented on #76
Thank you for submitting this lesson proposal, @isazi. You should have received an invitation to join a maintainer Team for this lesson. After you have accepted that invitation, you should be able to transfer your lesson repository into the Incubator, ready to begin working on it in the Study Groups program.

Please post back here to tell me when you have transferred the repository, so I can close

[2021-02-04 13:57] tobyhodges commented on #75
@NatePollard thank you for submitting this lesson proposal. I will create a placeholder repository for the lesson, and grant you Admin access so you can begin developing the lesson here. I will set up a Team for maintainers of the lesson repository - if you know the GitHub usernames of any collaborators you will have on the lesson, feel free to post them here and I will get them added to that Team

[2021-02-04 14:03] tobyhodges commented on #75
What would you like to be the name of the repository? I would like to include some indication of the tool/platform you will use to teach ML - something like `machine-learning-novice-python`, `machine-learning-novice-r`, `machine-learning-novice-sklearn`, and so on.

[2021-02-04 14:05] isazi commented on #76
I did accept the invitation and I have transferred our old repository to the incubator.

[2021-02-04 14:07] tobyhodges commented on #76
Great! thanks for the swift response @isazi 👍 I will take care of a few extra bits of configuration on the lesson repository and make sure that you have all the appropriate access.

I'll close this issue now, but please feel free to post back here again if you get stuck with anything. Or you can open an issue on the repository itself and tag me there. I will do my best to respond quickly.

[2021-02-04 14:07] #76 closed

[2021-02-04 15:40] anenadic opened #77 "Intermediate Python Software Development Skills Course"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

2. Do you

[2021-02-04 16:38] tobyhodges commented on #77
Hey @anenadic I'm excited to see this material enter the Incubator. I'm sure it will be very relevant to many in the community. I will make a Team for you all as maintainers of the lesson, and you can then transfer the repository over here.

As far as the repository name goes, I think `intermediate-python-rsd` is good, though I am not so sure how obvious `rsd` will be as an abbreviation to many in

[2021-02-04 16:44] anenadic commented on #77
Thank you @tobyhodges! We had the exact thoughts around the abbreviation 'rsd' not being immediately obvious and also used to call the project 'python-intermediate-inflammation' initially as it continues to use SWC's inflammation data used in one of the SWC's Python lesson but then if focuses on collaborative software engineering skills and wanted to emphasise that. I will talk to the other member

[2021-02-04 16:55] tobyhodges commented on #77
I have created the Team and added you as a maintainer, @anenadic. I also invited James and Steve. Please post back here with a link to the repository after the transfer and renaming has been done, then I will close this thread. And, of course, post here as well if you need any help with the process!

[2021-02-04 17:08] NatePollard commented on #75
Hi Toby.  We are developing both Python and R versions of the Machine Learning course. As such can we request two repositories named: machine-learning-novice-pythonmachine-learning-novice-r Thanks, Nate. From: Toby HodgesSent: 04 February 2021 14:03To: carpentries-incubator/proposalsCc: NatePollard; MentionSubject: Re: [carpentries-incubator/proposals] SSI Machine Learning Training Course (#75) Wh

[2021-02-04 23:28] colinsauze commented on #19
I'm trying to get back to working on the Machine Learning with Scikit Learn and Python course that I started in 2019. I'm ready to transfer it to the Carpentries Incubator. Is there something I need to do before transferring it? I'm guessing the procedure may have evolved since 2019. I presume @tobyhodges or @ErinBecker  can advise?

[2021-02-04 23:37] jd-foster commented on #59
I would work on this, working with @kescobo on a parallel but integrated approach in the Data Carpentry curriculum, as part of a Study Group facilitated by @tobyhodges
Thanks

[2021-02-05 09:11] tobyhodges commented on #59
@jd-foster @kescobo For the sake of our record-keeping, please could one of you open a new issue here proposing the DC Julia lesson. You can keep the issue very brief, mentioning this issue thread (#59), and I will get on with creating a new lesson repository for you to begin working on.

[2021-02-05 09:32] tobyhodges commented on #19
Hey @colinsauze that's great to hear! Please open a new issue on this Proposals repository, after which I will invite you to join the carpentries-incubator organisation. You will then be able to transfer the repository.

[2021-02-05 09:50] tobyhodges commented on #75
@NatePollard you should have received an invitation to join a Team for maintainers of the two lessons, and two invitations to join the repositories directly as an Admin. Please accept all of these, and you should be good to go. You are Maintainer of that Team, so you can add any collaborators you have for the lesson development, and create sub-teams for each lesson if you prefer more fine-grained

[2021-02-05 09:50] #75 closed

[2021-02-05 11:06] jd-foster opened #78 "Data-driven research workflows in Julia"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
**Data-driv

[2021-02-05 11:26] NatePollard commented on #75
Thx Toby, I have received the machine-learning-ssi-maintainers team invite, but not the admin invite for the following repos:

https://github.com/carpentries-incubator/machine-learning-novice-python
https://github.com/carpentries-incubator/machine-learning-novice-r

I can't reopen this issue so will open a new one.

[2021-02-05 11:28] NatePollard opened #79 "SSI Machine Learning Training Course admin access"
Thx Toby, I have received the machine-learning-ssi-maintainers team invite, but not the admin invite for the following repos:

https://github.com/carpentries-incubator/machine-learning-novice-python
https://github.com/carpentries-incubator/machine-learning-novice-r

Can you set this up pls.

Thanks, Nate.

[2021-02-05 11:32] tobyhodges commented on #79
You are listed as an Admin on both repositories, so I'm not sure that we have a problem? Perhaps I was wrong to expect an invitation to be sent when I granted you access? Please go to https://github.com/carpentries-incubator/machine-learning-novice-r/settings/access and https://github.com/carpentries-incubator/machine-learning-novice-python/settings/access and check that you see yourself listed as

[2021-02-05 11:44] tobyhodges commented on #78
Than ks @jd-foster you should have received an invitation to join the carpentries-incubator organisation, via a Team set up for the developers of this lesson. The lesson repository is at https://github.com/carpentries-incubator/julia-data-workflow and I have also granted you Admin access so you have complete control over the repository from here.

You'll be introduced to the resources and processe

[2021-02-05 11:44] #78 closed

[2021-02-05 11:49] NatePollard commented on #79
No email was sent out, but I have checked and can confirm I have admin access. All sorted, thanks.

[2021-02-05 11:49] #79 closed

[2021-02-05 11:50] tobyhodges commented on #79
good to know. and also interesting to learn that you couldn't reopen the other issue. I will have to update the instructions I give to people!

[2021-02-05 13:59] map0logo opened #80 "Fundamental skills for using an integrated development environment with Spyder."
1. What is the topic of your lesson or lesson proposal?

Use of an integrated development environment with Spyder.

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

Yes, I have a pre-alpha version of the lesson in this repo: https://github.com/qu4ntdatos/spyder4carpentries, a

[2021-02-05 17:37] colinsauze opened #81 "Machine Learning with Python and Scikit Learn"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Machine Le

[2021-02-06 10:03] jd-foster commented on #78
Thank you @tobyhodges

[2021-02-08 12:48] jonititan opened #82 "Flight Data Management"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
The analysi

[2021-02-09 13:21] PabRod opened #83 "Packaging and publishing with R"
Hi there. @bvreede, @mkuzak and I (@pabrod) just began designing an R packaging lesson

Is there an interest in a course like this (see descrpition below)? Is anyone else working on this kind of materials?

All the best,

greetings from the Netherlands.

## What is the topic of your lesson proposal?

Packaging and publishing with R.

We want to explain the technical sides of it, such as:

- Namesp

[2021-02-09 14:19] noramcgregor opened #84 "Library Carpentry: Intro to Machine Learning and AI for Librarians and Archivists"
Hey there! Our group will be incubating a new lesson for Library Carpentry "Introduction to Machine Learning for Librarians & Archivists".

Our objective with this Lesson is to empower GLAM staff to support, participate in and undertake in their own right, machine learning based research and projects with heritage collections. We envision creating an initial introductory lesson serving as a more g

[2021-02-10 12:59] tobyhodges commented on #80
@map0logo @ccordoba12 @juanis2112 thank you for submitting this lesson proposal. This is a very relevant topic for the community and the skills you describe would be very helpful for many researchers. You should all have received an invitation to join a Team within the `carpentries-incubator` organisation for developers/maintainers of this lesson. Once you have accepted the invitation, you can tra

[2021-02-10 14:02] tobyhodges commented on #81
Thanks @colinsauze for proposing to transfer this lesson (mentioned previously in #19) into the Incubator. I have added you to a new Team in the `carpentries-incubator` organisation, and you should be able to transfer the repository into the organisation whenever you are ready. Regarding the title, it would indeed be good adjust the repository name when you make the transfer. Perhaps `machine-lear

[2021-02-10 14:10] colinsauze commented on #81
ok, i'll transfer it now. I think i'll go with machine-learning-novice-sklearn as I might move away from using gapminder data in future.

[2021-02-10 17:21] tobyhodges commented on #81
Great thanks @colinsauze I can see the repository is now at https://github.com/carpentries-incubator/machine-learning-novice-sklearn

A few possible next steps for you: to keep in touch with The Carpentries curriculum community you may find it useful to join [the `incubator-developers` list on The Carpentries TopicBox](https://carpentries.topicbox.com/groups/incubator-developers). I guess you alre

[2021-02-10 17:21] #81 closed

[2021-02-10 17:40] baileythegreen opened #85 "LaTeX typesetting"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Typesettin

[2021-02-10 17:44] tobyhodges commented on #82
Thank you for this lesson proposal, @jonititan. You should have received an invitation to join a Team for maintainers of this lesson in the `carpentries-incubator` organisation.

Before I create the repository, I'd like to discuss the appropriate name for that repository with you: I like to try to capture something about the intended level of the audience, and maybe the tool(s) used to teach the l

[2021-02-10 17:50] jonititan commented on #82
How about

[python-EOFDM-precursors](https://github.com/jonititan/python-EOFDM-precursors)

[2021-02-10 17:52] tobyhodges commented on #83
Hi @pabrod thanks so much for this lesson suggestion. It would be a very relevant topic for The Carpentries community and I would love to help you start developing it.

We have one participant in the new Lesson Development Study Groups program who is also planning to develop a lesson on exactly this topic. I do not have their GitHub information yet, but hope to very soon. At which point I will tag

[2021-02-10 18:01] tobyhodges commented on #82
Done! Your new lesson repository is at https://github.com/carpentries-incubator/python-EOFDM-precursors 🚀

I have granted you Admin access to the repository so you have full control over it. You are also a Maintainer of that Team I made for maintainers opf the lesson - you don't need to do anything with it right now but it means you can add any collaborators to the Team in future, if you find othe

[2021-02-10 18:01] #82 closed

[2021-02-11 09:53] tobyhodges commented on #84
Hi @noramcgregor thanks for submitting this proposal. You, @MikeTrizna, and @davanstrien have all been invited to join a Team of maintainers for the lesson. You can add others to that Team too (you could start by adding Mark, as I do not know his GitHub username). That will grant them Maintain-level access to the repository, and you are Admin on the repository.

The repository is here: https://git

[2021-02-11 09:53] #84 closed

[2021-02-11 11:28] edbennett commented on #85
While it is a little bit rough as I only delivered it once and I was not a trained Carpentries instructor at the time, I did use the Carpentries template and style to put together a LaTeX tutorial; it's at [here](https://edbennett.github.io/latex-tutorial/) ([repo](https://github.com/edbennett/latex-tutorial)). Feel free to take as much or as little of it (anywhere between "all" and "none") as you

[2021-02-11 11:46] baileythegreen commented on #85
@edbennett Cool, thanks! I think you are not the only one to have made a Carpentries-esque LaTeX lesson, though the one I've seen before seemed to have a different focus from yours. Once there's a bit more movement on this (the first Study Groups meeting is tomorrow), you're welcome to contribute, if you'd like. There isn't exactly a repo yet, but I can point you to it, once there is.

[2021-02-11 11:49] edbennett opened #86 "How The Web Works"
"How The Web Works" - many researchers at some point have to start making use of HTTP-based APIs, and unless they are very technically-minded then this involves a huge dump of concepts all at once. It would be good to have a gentle introduction to the Web to get to the point that learners can interact with Web APIs confidently.

Concepts that are important to understand to be able to do this (this

[2021-02-11 12:19] tobyhodges commented on #85
Hi @baileythegreen thank you for proposing the lesson, and @edbennett for sharing a link to your material on a similar topic (I will get to your proposal next!) I will be very interested to learn from this lesson when it is ready, and I'm sure it will be relevant to plenty of other members of the community as well.

Guessing that the lesson will be aimed at newcomers to LaTeX, I chose `latex-novic

[2021-02-11 12:19] #85 closed

[2021-02-11 12:25] tobyhodges commented on #86
Thank you for submitting this lesson idea @edbennett. It sounds like a very good concept for a lesson, and certainly one I would have found useful in previous years. It would also be great to have a resource like this to point people to from [the introduction to our lesson on Jekyll & GitHub Pages](https://carpentries-incubator.github.io/jekyll-pages-novice/introduction/index.html), which sacrific

[2021-02-11 17:05] mfall3 commented on #86
Useful resource for getting started working with APIs in Python: https://www.dataquest.io/blog/python-api-tutorial/

[2021-02-11 17:11] wood-chris commented on #86
This all looks good! I'm not sure I'd concentrate too much on point 1 tho actually - do people really need to understand _sockets_ to be able to consume web-services? (I'm not sure I'd be able to describe them well!).

[2021-02-11 17:51] colinsauze commented on #86
I'm wondering if an explanation of what an IP address is that the internet is packet switched is worth including or is that un-necessary detail?

[2021-02-11 19:16] burrowsdt commented on #86
I think this would be a great addition as a lesson. I'm actually getting ready to teach on this topic today (in thirty minutes!) for a text analysis course and have taught it a few different ways; I would be happy to contribute/collaborate.

FWIW, I've found this set of articles really useful as introductory pieces (although they are a bit intimidating for the absolute beginner):
[An illustrated i

[2021-02-12 00:02] jonathanwheeler01 opened #87 "Data management and analytic pipelines for engineers"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

This is br

[2021-02-12 10:50] edbennett commented on #86
I'm glad to see there's interest in this!

@wood-chris: You're right; I think at least a superficial understanding of what a port is is useful, but you probably don't need to use the word socket to explain that.

@colinsauze: One point I had intended to include on the list and that slipped my mind was the distinction between a domain name and an IP address and how they relate to each other (with o

[2021-02-12 14:45] annajiat opened #88 "java-novice-inflammation"
1. What is the topic of your lesson or lesson proposal?
java-novice-inflammation

2. Do you already have a draft of your lesson?
No
Would like to follow
python-novice-inflammation

7. If you answered "Yes" to either question 5 or 6, list the GitHub handles for people who should have [Maintain access][access-levels] to your lesson. If you don't know how to answer this question, don't worry! We can

[2021-02-12 17:21] richardostler opened #89 "Frictionless Data for Agriculture Research"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Applying Fr

[2021-02-12 18:37] caifand opened #90 "Make Software Citable"
Hi, I've had some conversations with @tobyhodges, and thanks for providing guidance. I want to suggest a lesson on software citation. I myself also have done some work in this area so far.

**1. What is the topic of your lesson or lesson proposal?**

Make Software Citable.

I have not decided on the lesson title yet. Currently I hope to include in this lesson:
1. What makes software citation matte

[2021-02-13 20:54] MikeTrizna commented on #84
Thanks for your approval and for setting up this new repo, @tobyhodges.

@noramcgregor, do you think you could go to the "machine-learning-librarians-maintainers" GitHub Team that was created, and add @mark-bell-tna? I think this link should take you there: https://github.com/orgs/carpentries-incubator/teams/machine-learning-librarians-maintainers/members

Also, can you change @davanstrien and me

[2021-02-15 12:49] tobyhodges commented on #87
Thanks for submitting this proposal, @jonathanwheeler01. I have created a repository for your lesson at https://github.com/carpentries-incubator/data-management-pipelines-engineering, and you should have received an invitation to join a Team of maintainers for this lesson (so far you are the only member but you will be able to add other collaborators to the lesson).

I chose a name for the reposit

[2021-02-15 12:49] #87 closed

[2021-02-15 13:53] tobyhodges commented on #88
Thanks for submitting this proposal, @annajiat. I have created a repository for your lesson at https://github.com/carpentries-incubator/java-novice-inflammation, and you and @jsteyn should have received an invitation to join a Team of maintainers for this lesson.

You may already be aware of [The Carpentries Curriculum Development Handbook](https://cdh.carpentries.org) and [the Lesson Example](htt

[2021-02-15 13:53] #88 closed

[2021-02-15 14:19] tobyhodges commented on #89
Thanks for submitting this proposal @richardostler! I have created the lesson repository for you at https://github.com/carpentries-incubator/frictionless-data-agriculture and you should have received an invitation to join a maintainer Team for the lesson. I have also granted you Admin level access to the repository so you have full control.

To keep in touch with The Carpentries curriculum communi

[2021-02-15 14:19] #89 closed

[2021-02-16 07:37] demar01 opened #91 "Introduction to QFeatures"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

2. Do you

[2021-02-16 14:01] tobyhodges commented on #91
Thanks for submitting this lesson proposal @demar01 I have created the lesson repository for you at https://github.com/carpentries-incubator/proteomics-novice-qfeatures and you should have received an invitation to join a maintainer Team for the lesson. I have also granted you Admin level access to the repository so you have full control.

To keep in touch with The Carpentries curriculum community

[2021-02-16 14:01] #91 closed

[2021-02-16 14:51] tobyhodges commented on #80
@map0logo now that the repository has been transferred to https://github.com/carpentries-incubator/ide-novice-spyder I will close this issue. I will still be notified if you post back here, so feel free to leave a comment below if you need help with anything while you continue to develop the lesson. You can also tag me in an issue on the lesson repository.

To keep in touch with The Carpentries cu

[2021-02-16 14:51] #80 closed

[2021-02-16 15:05] douglowe opened #92 "Shell programming for workflow management"
1. What is the topic of your lesson or lesson proposal?

Shell programming for workflow management.

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

Yes, a beta(?) draft of the material: [https://github.com/UoMResearchIT/shell-programming-course.git](https://github.com/UoMRe

[2021-02-16 16:13] map0logo commented on #80
Hi Toby!

Thank you so much.

Roger!

On Tue, Feb 16, 2021, 10:51 Toby Hodges <notifications@github.com> wrote:

[2021-02-16 18:34] ccordoba12 commented on #80
Thanks @tobyhodges for your help! I accepted the invitation a few days ago.

[2021-02-18 13:08] tobyhodges commented on #92
Thanks for this proposal @douglowe I have invited you and @AnjalLBlanc to join a Team of maintainers for this lesson. Once you have accepted that invitation, you should be able to transfer the repository into the carpentries-incubator organisation.

Please post back here when you have done that, or if you have any questions/encounter some difficulty with the repository transfer.

[2021-02-22 04:01] kerchner opened #93 "Statistical Inference for Biologists"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Statistica

[2021-02-22 16:42] tobyhodges commented on #90
Thank you for this lesson proposal, @caifand! I have created a repository for the lesson at https://github.com/carpentries-incubator/citable-software, and you should also have received an invitation to join a Team for maintainers of that lesson. If you gain any collaborators on the lesson in the future, you will be able to add them to this team.

To keep in touch with The Carpentries curriculum co

[2021-02-22 16:42] #90 closed

[2021-02-22 16:50] tobyhodges commented on #93
Thanks @kerchner and @smcclatchy for this lesson proposal. I have invited you both to join a Team for maintainers of this lesson. (I also mistakenly began creating a repository for the lesson before I remembered that you will transfer the repository in from Sue's account - please accept the invitation to join the Team, but ignore any invitations to a specific lesson repository.)

@smcclatchy once

[2021-02-23 11:17] BatoolMM opened #94 "Single-cell RNA sequencing (scRNA-seq)"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Single-cel

[2021-02-23 11:46] tobyhodges commented on #94
Thanks for submitting this lesson proposal @BatoolMM @ElnazAmanzadeh you should both have received an invitation to join a Team of maintainers for the lesson. You should also have received invitations to join the lesson repository with Admin access https://github.com/carpentries-incubator/scrna-seq-analysis Please accept both invitations.

The README of that lesson repository includes a list of ne

[2021-02-23 11:46] #94 closed

[2021-02-23 11:50] BatoolMM commented on #94
Thank you Toby :)

[2021-02-25 14:19] l0velybrown opened #95 "Relational Database for Family Historians and Genealogists"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
I am intere

[2021-02-25 15:31] tobyhodges commented on #95
Thank you for submitting this lesson proposal @l0velybrown. I have created the lesson repository for you at https://github.com/carpentries-incubator/relational-database-genealogy and you should have received an invitation to join a maintainer Team for the lesson. I have also granted you Admin level access to the repository so you have full control. Please accept both invitations.

To keep in touch

[2021-02-25 15:31] #95 closed

[2021-02-25 19:42] nikhil153 opened #96 "Structural Neuroimaging Analysis in Python"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Introductio

[2021-03-01 14:02] ewallace commented on #64
Hi. Given we had only really made a "shell" repository using the carpentries lesson template back in October 2020, we are wondering if it is more sensible to start a brand new repo from the current lesson template, at carpentries-incubator/good-enough-practices?

@tobyhodges it would be good to get your opinion on this? Or @gperu will follow-up with the team.

[2021-03-01 16:47] douglowe commented on #92
Hi @tobyhodges - thanks for adding us to the team. I've forked our repository here: [https://github.com/carpentries-incubator/shell-programming-course](https://github.com/carpentries-incubator/shell-programming-course).

cheers,
Doug

[2021-03-03 17:13] tobyhodges commented on #92
Thanks @douglowe I will close this issue now, but I will still be notified if you post below, so please ping me again if you run into any trouble. You can also tag me on an issue in the lesson repository.

To keep in touch with The Carpentries curriculum community you may also find it useful to join [the `incubator-developers` list on The Carpentries TopicBox](https://carpentries.topicbox.com/grou

[2021-03-03 17:13] #92 closed

[2021-03-03 17:35] tobyhodges commented on #96
Thank you for this lesson proposal @nikhil153! Based on the people involved, am I correct to assume that this is intended to form part of the growing neuroimaging curriculum (along with https://github.com/carpentries-incubator/SDC-BIDS-IntroMRI, https://github.com/carpentries-incubator/SDC-EEGLAB, etc)? If so, would you like to suggest a name for the repository to stay consistent with the reposito

[2021-03-03 18:25] nikhil153 commented on #96
@tobyhodges yes, this course is structural counterpart of this [lesson](https://carpentries-incubator.github.io/SDC-BIDS-fMRI/). You can use this name for the repo: SDC-BIDS-sMRI. Thanks!

[2021-03-04 09:37] tobyhodges commented on #96
Thanks @nikhil153 I have created the repository at https://github.com/carpentries-incubator/SDC-BIDS-sMRI and invited you and @edickie to join it with Admin access.

I will close this issue now that the repository has been created but feel free to post back here if you have any questions or need some help getting started. To keep in touch with The Carpentries curriculum community you may also find

[2021-03-04 09:37] #96 closed

[2021-03-04 16:32] stain commented on #92
Does GitHub Pages need to be turned on for repository https://github.com/carpentries-incubator/shell-programming-course ?

https://carpentries-incubator.github.io/shell-programming-course/ does not show up. I guess also list it on https://carpentries.org/community-lessons/

[2021-03-08 09:31] ewallace commented on #64
@tobyhodges sorry we've been slow here. Would your team be able to initialize a new repository using current Carpentries template, at [/carpentries-incubator/good-enough-practices](/carpentries-incubator/good-enough-practices)? Then we can start to develop and add content there, and delete the previous placeholder repo.

Thanks!

[2021-03-08 09:56] tobyhodges commented on #64
Hey @ewallace Sorry I missed that you asked me a question in your last reply. I have created the repository at https://github.com/carpentries-incubator/good-enough-practices and granted you and the Maintainer team access.

I will close this issue now that the repo has been set up, but please feel free to post back here if you have any further questions.

Finally, here is some info for you and your

[2021-03-08 09:56] #64 closed

[2021-03-08 09:58] ewallace commented on #64
Magnificent, thanks. We will get started here then.

[2021-03-08 15:58] drshrirang opened #97 "Supervised Learning"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Supervised

[2021-03-08 16:20] smcclatchy commented on #93
@tobyhodges I have joined the maintainers team for this lesson.

[2021-03-08 17:26] tobyhodges commented on #93
Thanks @smcclatchy you should now be able to transfer the repository to the `carpentries-incubator` organisation via the settings on your repository. You will remain Admin on the repository after that transfer is complete. Please give it a try and post back here if you have any questions about the process. Remember that you will need to update your remote URL on any local repositories you already

[2021-03-08 18:41] alexcasper opened #98 "Deploying Applications on Kubernetes"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Deploying A

[2021-03-08 19:30] tobyhodges commented on #97
Thank you @drshrirang for this lesson proposal! As discussed, I have created the lesson repository at https://github.com/carpentries-incubator/ml-python-supervised-learning You should have received two invitations: one to join the repository (you will have full Admin access) and one to join a Maintainer team for the lesson. You are the only member of that Maintainer team for now, but you will be a

[2021-03-08 19:30] #97 closed

[2021-03-09 11:06] tobyhodges commented on #98
Thanks for this lesson proposal @alexcasper! I will be happy to create a lesson repository for you, and a Maintainer team for the lesson so you can add collaborators in the future.

What would you like the repository to be called? `k8s-deployment-novice`? Something else?

[2021-03-09 16:41] smcclatchy commented on #93
@tobyhodges I have some questions about viewing the published website. It's now at https://carpentries-incubator.github.io/statistical-inference-for-biology/, however my fork will not render as a website even with gh-pages turned on in settings. https://smcclatchy.github.io/statistical-inference-for-biology/
I have a DOI for my website referenced in a recent publication, so I need help making my f

[2021-03-10 11:56] tobyhodges commented on #93
@smcclatchy it looks like the page is live now? Perhaps GitHub needed some time to notice and get the site back online?

[2021-03-11 13:27] elletjies opened #99 "Lesson Idea: R for Qualitative research"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

I have fou

[2021-03-12 10:43] alexcasper commented on #98
Hi Toby,
That would be great, thanks.
K8s-deployment-novice would be good.

[2021-03-12 10:58] jsteyn opened #100 "An Introduction to the Java Programming Language"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

An introdu

[2021-03-12 11:33] tobyhodges commented on #99
Thanks @elletjies! I think this is a great idea for something that would cater to an audience not yet served by the our existing lessons. If any of our community members are reading this and have the expertise and time to develop such a lesson, please post here and I would be delighted to help you get started!

[2021-03-12 11:43] tobyhodges commented on #100
Hi @jsteyn thank you for sharing the lesson repository here. I have made a separate maintainer Team for this lesson and added you to it. you should be able to initiate the repository transfer whenever you are ready, via the repo Settings page. Please post back here when you have transferred the repository and I will close this issue, and/or reply here if you have any questions or run into any diff

[2021-03-12 11:52] tobyhodges commented on #98
:+1: I have created the lesson repository for you at https://github.com/carpentries-incubator/k8s-novice-deployment and you should have received an invitation to join a maintainer Team for the lesson. I have also granted you Admin level access to the repository so you have full control.

The repository README includes some next steps to take, to complete the initial setup of the lesson. This inclu

[2021-03-12 11:52] #98 closed

[2021-03-12 13:12] jsteyn commented on #100
I have done the transfer

[2021-03-24 17:38] tbooth opened #101 "Introduction to Snakemake for Bioinformatics"
1. What is the topic of your lesson or lesson proposal?

Introducing the Snakemake workflow system for bioinformatics analysis.

Snakemake is a popular system for constructing computational workflows based upon the ideas of classic UNIX Makefiles. It originated in the world of bioinformatics, and this still represents the principal use of the tool. I have teaching materials from a recent course th

[2021-03-25 12:35] tobyhodges commented on #101
Thanks for this lesson proposal @tbooth. I have created the repository for you at https://github.com/carpentries-incubator/snakemake-novice-bioinformatics

You and your colleagues should have received an invitation to join the Maintainer Team for this lesson. Once that invitation has been accepted, you will have Maintain access to the lesson repository. I also granted you (@tbooth) Admin access to

[2021-03-25 12:35] #101 closed

[2021-03-29 18:55] tzielins opened #102 "FAIR in (biological) practice"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

FAIR in (b

[2021-03-31 16:57] blongworth commented on #86
We've also been talking about an "API's for scientists" course at WHOI. I was thinking of starting with reading csvs from urls with dplyr::read_csv() in R or pandas.read_csv() in python, moving through requests/httr for requesting and receiving data, JSON, and culminating with things like ERDDAP and/or using server requests to generate files for download. This is a lot, so a subset is probably rea

[2021-03-31 17:06] wood-chris commented on #86
@blongworth this sounds good! As a former oceanographer, I'm always interested in working out how to help environmental scientists in general - some of whom might be pretty mathematical and have no issues with Fortran / C / Matlab, but don't realise, without some prompting, how higher level libraries might help them and make their lives easier. (I also used to collaborate with some of the data fol

[2021-04-01 16:33] blongworth commented on #86
@edbennett, do you have a timeline in mind for lesson development? My group at WHOI is considering a half day workshop on API's sometime before the end of the year.

[2021-04-01 17:42] colinsauze commented on #86
The lesson already got developed and ran once, https://github.com/edbennett/web-novice

[2021-04-06 10:44] edbennett commented on #86
Thanks for signposting the link to the lesson Colin. The material as exists was developed quite rapidly (given time constraints of needing to run it on a specific date), and for a specific audience, so couldn't include everything discussed here, and what is there still has some scope for improvement. We've made some issues highlighting areas that would benefit from work.

[2021-04-08 10:59] Alanocallaghan opened #103 "High dimensional statistics"
1. What is the topic of your lesson or lesson proposal?

High dimensional statistics

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

No

(If you answered "No" to question 2, you can skip the remaining questions. Thank you for your lesson idea!)

[2021-04-08 13:17] aromanowski commented on #102
Hi @tobyhodges! Could you help us create this repo? Thank you!

[2021-04-09 09:04] tobyhodges commented on #102
Thanks for your patience. I have created a maintainer team for this lesson and added you both to it. You should be able to transfer the repository into the carpentries-incubator organisation, adding it to that Team. Please post back here to let me know when you have completed the transfer, and/or if you run into any trouble.

[2021-04-09 09:06] tobyhodges commented on #103
Thanks for proposing this lesson, @Alanocallaghan. Are you interested in developing a lesson on this topic, or posting here to raise the idea of the lesson only? If the former, would you like me to create a lesson repository for you to begin working on the lesson in the Incubator?

[2021-04-09 09:07] Alanocallaghan commented on #103
A group of us based in Edinburgh will be developing a lesson on the topic, so it'd be great if you could do so

[2021-04-09 09:30] tobyhodges commented on #103
👍 shall I use a generic name for the lesson repository e.g. `high-dimensional-stats` or can we be more specific? E.g. is the lesson aimed at a particular audience/domain such as life scientists? Will you be teaching with a particular tool/language e.g. R or Python?

[2021-04-09 09:32] Alanocallaghan commented on #103
It will certainly be using R initially and the primary audience is a subset of life scientists, though I believe repo admins can change the slug at a later date in case we want to fine tune

[2021-04-09 12:05] Alanocallaghan commented on #103
Thanks!

[2021-04-09 12:08] tobyhodges commented on #103
The repository is ready at https://github.com/carpentries-incubator/high-dimensional-stats-r and I have also added you to a Maintainer Team for the lesson, which you can invite others to*.

The README of the repository includes a brief list of recommended next steps. While working with The Carpentries lesson template, you might find [the Lesson Example](https://carpentries.github.io/lesson-example

[2021-04-09 12:08] #103 closed

[2021-04-09 12:11] #100 closed

[2021-04-09 12:12] tobyhodges commented on #93
It looks like everything is working alright with the repository @smcclatchy @kerchner so I am going to close this issue now. Please post back here or tag me in a new issue on your lesson repository if you are still having trouble.

[2021-04-09 12:12] #93 closed

[2021-04-09 22:03] tzielins commented on #102
@tobyhodges Hi Toby, I have imported the repo and added it to dev team, I hope all is at it should be.
I have to admit I don't have much experience with working in organizations/teams setup, so please check.

[2021-04-12 06:47] tobyhodges commented on #102
Great, thanks @tzielins. I have added some basic topics to your repository, to make sure it is listed correctly on [the page of Community Developed Lessons](https://carpentries.org/community-lessons/).

While working with The Carpentries lesson template, you might find [the Lesson Example](https://carpentries.github.io/lesson-example/) useful as a reference. [The Carpentries Curriculum Development

[2021-04-12 06:47] #102 closed

[2021-04-21 17:16] sstevens2 opened #104 "Alternate SWC git lesson with branching/PRs"
1. What is the topic of your lesson or lesson proposal?

SWC Git Novice lesson with branches and pull requests.

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

Yes. [website](https://uw-madison-datascience.github.io/git-novice-custom/) / [repo](https://github.com/UW-Madison

[2021-04-21 17:21] sstevens2 opened #105 "SWC Unix/Python/Git extension lesson"
1. What is the topic of your lesson or lesson proposal?

A lesson that ties together the unix shell, python, and git to get learners familiar with common workflows.

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

Yes. [website](https://uw-madison-datascience.github.io/pytho

[2021-04-25 09:31] jsteyn opened #106 "Introduction to MarkDown"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
    - Intro

[2021-04-26 09:04] tobyhodges commented on #104
Thank you for sharing this, @sstevens2. I am absolutely in favour of alternative lessons like this appearing in the Incubator 😄  I have added you and @ChristinaLK to a Maintainer team for this lesson, and you should be able to transfer the repository over, under the ownership of that new team. When you do so, please use the opportunity to rename the repository to something a bit more descriptive e

[2021-04-26 09:09] tobyhodges commented on #105
Thank you for sharing this, @sstevens2. I have added you and @ChristinaLK to a Maintainer team for this lesson, and you should be able to transfer the repository over, under the ownership of that new team. When you do so, please use the opportunity to rename the repository to something a bit more descriptive. I think `swc-extension-shell-python-git` is a good choice, but `swc-ext-python` would als

[2021-04-26 09:26] tobyhodges commented on #106
Thanks for proposing this lesson to the Incubator, @jsteyn! It will be very relevant and useful to many in the community 👍 I have added you to a `markdown-novice-maintainers` Team, via which you should be able to transfer the repository into the `carpentries-incubator` organisation.

Please post back here when the transfer is complete, so I can close this issue, or if you run into any trouble so I

[2021-04-26 11:26] tobyhodges opened #107 "Introduction to Workflows with CWL"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Introducti

[2021-04-26 11:32] tobyhodges commented on #107
The repository has been transferred and can be found here: https://github.com/carpentries-incubator/cwl-novice-tutorial

[2021-04-26 11:32] #107 closed

[2021-04-30 20:30] sstevens2 commented on #105
So I migrated it but I should have changed the repo before.  I was thinking it might ask me in the migration process but I was wrong.  I like `swc-ext-python` well enough.  @ChristinaLK do you have thoughts about a good new name?

[2021-04-30 20:47] sstevens2 commented on #105
Let me know when you rename @tobyhodges.  I'll need to update my [redirect repo](https://github.com/UW-Madison-DataScience/python-novice-gapminder-custom)

[2021-04-30 20:56] sstevens2 commented on #104
Ok this transfer went smoother.  Changed the name and link to the website before I moved it (because I don't have the access after) and then setup the [redirect repo](https://github.com/UW-Madison-DataScience/git-novice-custom).

[Incubator repo here](https://github.com/carpentries-incubator/git-novice-branch-pr)

Think this one can be close unless you notice any issues @tobyhodges or @ChristinaLK

[2021-04-30 21:59] ChristinaLK commented on #104
I'm glad I checked my notifications so I knew I had been wrangled into this. ;)
Thanks @tobyhodges !

[2021-05-03 08:14] tobyhodges commented on #104
I have updated the permissions on the repository to give you both a more appropriate level of control @sstevens2 @ChristinaLK Closing this now that the repository is transferred and set up to go.

[2021-05-03 08:14] #104 closed

[2021-05-03 08:16] tobyhodges commented on #105
@sstevens2 I have updated access permissions on the repository and given you Admin privileges. So you should be able to take care of renaming the repository yourself now. Please let me know if you run into any more trouble.

[2021-05-03 21:15] sstevens2 commented on #105
Thanks @tobyhodges!  I've renamed and edited the redirects.  Should be in good shape now.  I'll go ahead and close this issue.

[2021-05-03 21:15] #105 closed

[2021-05-14 18:36] ameliakallaher opened #108 "Introduction to R and litsearchr"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

- Introduc

[2021-05-21 11:57] tobyhodges commented on #108
Thank you for submitting this lesson to the Incubator, @ameliakallaher. I've invited you and your collaborators to the carpentries-incubator organization on GitHub, in the _litsearchr-maintainers_ team. After accepting that invitation, you should be able to transfer the repository into the carpentries-incubator organisation. Please post back here when the transfer is complete, and/or to ask any qu

[2021-05-21 17:24] ameliakallaher commented on #108
Great. Thank you for sharing the next steps.

Yes, we would like to submit the lesson to the Library Carpentry program. The information I have from their website is “Propose your lesson for the incubator by making a pull request (PR) against the Library Carpentry website, adding a link to your lesson repository as an alpha lesson.” By transferring the lesson to the Incubator are we moving towards

[2021-05-23 16:26] annajiat opened #109 "Foundational Computer Skills"
1. What is the topic of your lesson or lesson proposal?
Foundational Computer Skills

2. Do you already have a draft of your lesson?
No

5. If you answered "No" to either part of question 4, would you like our Curriculum Team to create a repository for you in The Carpentries Incubator?
yes

8. Any other information you would like us to have or questions you have for us?

Workshops may welcome part

[2021-05-25 12:02] tobyhodges commented on #108
Thanks for responding so quickly, @ameliakallaher. I will alert the Library Carpentry Curriculum Advisors to the existence of your lesson at their next meeting.

You may transfer the repository over to carpentries-incubator whenever you are ready, and I will open a Pull Request to update the lesson template.

[2021-05-25 13:03] tobyhodges commented on #109
Thanks for putting in this proposal @annajiat. I have created the repository for the lesson at https://github.com/carpentries-incubator/foundational-computer-skills and added you as a maintainer. You also have the power to add other collaborators to the Maintainer team for the lesson, if and when you would like to do so.

I know this is not your first time working with a lesson repository in The C

[2021-05-25 13:03] #109 closed

[2021-08-06 15:18] agitter opened #110 "Machine Learning for Biology (ml4bio)"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

2. Do you

[2021-08-09 11:49] tobyhodges commented on #110
Thank you for submitting this lesson to The Carpentries Incubator, @agitter! I'm delighted to see this here.

You should have received an invitation to join a Team of maintainers for the lesson, as part of the carpentries-incubator organisation on GitHub. After you have accepted that invitation, you should be able to initiate the transfer into carpentries-incubator, via the repository Settings. Af

[2021-08-09 23:03] tzielins opened #111 "FAIR for leaders"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Leading re

[2021-08-09 23:05] tzielins commented on #111
@tobyhodges I have imported the lesson template into the carpentries incubator and tried to set it up similarly to the
fair-bio-practice you did for us.

I hope it is OK, I was just trying to save time of carpentries team.

[2021-08-12 08:18] tobyhodges commented on #111
Thanks for the message, and for the lesson proposal @tzielins. Everything looks good with the repository - and I am grateful for your concern about saving us time! We discussed this at the Curriculum Team meeting yesterday and concluded that we are happy for existing members of the carpentries-incubator GitHub organisation to create repositories for themselves like this, as long as they open an is

[2021-08-12 08:18] #111 closed

[2021-08-17 12:27] malvikasharan opened #112 "Introduction to Data Science for Biomedical Scientists"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
- Introduct

[2021-08-17 19:53] jenna-jordan opened #113 "Interactive Data Visualizations in Python"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Interactiv

[2021-08-20 10:56] tobyhodges commented on #112
Hey @malvikasharan! Thanks for submitting this lesson to The Carpentries Incubator.

I can go ahead and create a repository for this lesson in the Incubator, which you can start working on when your team begin developing the lesson, if you like? Or will you begin working on it elsewhere (e.g. in the repository you linked to above), and then transfer the repository into the Incubator?

[2021-08-20 11:03] tobyhodges commented on #113
Thanks for submitting this lesson proposal @jenna-jordan!

You should have received an invitation to join a Team of maintainers for the lesson, as part of the carpentries-incubator organisation on GitHub. After you have accepted that invitation, you should be able to initiate the transfer into carpentries-incubator, via the repository Settings. When that is done, I will make sure that you retain f

[2021-08-20 11:34] malvikasharan commented on #112
Thanks, @tobyhodges for the quick response. 😇

Please create a repository for us so that we get folks involved in this project to directly contribute to the repository. It will also help us avoid any redundancy or coordination.
Can you please add @LydiaFrance to the repo as well?

[2021-08-20 11:49] tobyhodges commented on #112
I have created the repository for you at https://github.com/carpentries-incubator/datasci-biomedical-scientists and invited you to join it as an administrator. You and @LydiaFrance should also have received an invitation to join a `data-training-for-bioscience-maintainers` Team, which will have Maintain access to the repository. Please accept both invitations, @malvikasharan, and you will then hav

[2021-08-20 11:49] #112 closed

[2021-08-20 15:43] agitter commented on #110
I completed the transfer.  @tobyhodges can you please check my permission levels on the https://github.com/carpentries-incubator/ml4bio-workshop.  I don't believe I have admin access.

Can you also please help me with the maintainers team?  https://github.com/orgs/carpentries-incubator/teams/ml-bio-maintainers/ only has you and me as members.  Can you please add @cmilica and @csmagnano too?

[2021-08-20 17:05] jenna-jordan commented on #113
Great! I have completed the transfer of the repository. What are the next steps?

[2021-08-20 17:05] agitter commented on #110
Thanks for the pointer to https://github.com/carpentrieslab/python-aos-lesson  I used that to create a new readme and redirect index in https://github.com/gitter-lab/ml-bio-workshop.  I also created a 404.html based on the GitHub Pages 404 page.

I was able to write a script to accomplish what I wanted.  It takes a manually-generated list of HTML pages in the old repository as input and then write

[2021-08-23 08:54] tobyhodges commented on #110
Thanks @agitter! I am very pleased to see this lesson join the Incubator. I have added you as Admin on the lesson repository now.

They should both have a invitation to accept, to join the Team. Let me know if you would like me to re-send either of those invitations. I have also now made you a Maintainer of that Maintainer Team (confusing, I know!), so you should be able to invite others to join i

[2021-08-23 09:34] tobyhodges commented on #113
Thanks @jenna-jordan, it is great to see this lesson join the Incubator!

As mentioned in https://github.com/carpentries-incubator/data-visualization-workshop/issues/1 I have updated the repository permissions to give you full _Admin_ access, and I have also made you a Maintainer of the `data-visualization-python-maintainers` Team, so you should be able to add any collaborators on the lesson if an

[2021-08-23 09:34] #113 closed

[2021-08-23 19:39] agitter commented on #110
Thanks @tobyhodges.  I cleaned up broken links in the transferred repository.  Everything looks good now.

I would like to update to the latest lesson template at some point and created a new issue for that (https://github.com/carpentries-incubator/ml4bio-workshop/issues/120).  I may tag you there if I get stuck or run into a difficult merge conflict.

[2021-08-26 10:39] tobyhodges opened #114 "Regular Expressions for Biology"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Regular Ex

[2021-08-27 13:55] #114 closed, assigned to tobyhodges

[2021-09-03 17:32] resmaili opened #115 "Proposed lesson plan for working with satellite observations"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Working wi

[2021-09-16 21:00] N-Acil opened #116 "Lesson idea: Geospatial analysis with Google Earth Engine and Colab"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

- _Geospat

[2021-10-15 05:12] tompollard opened #117 "Introduction to tree models in Python"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

The topic

[2021-10-22 05:39] tompollard opened #118 "Introduction to responsible machine learning in Python"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

The lesson

[2021-10-22 13:05] tompollard opened #119 "Introduction to neural networks in Python"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

The lesson

[2021-10-28 12:50] #118 closed, assigned to nobody

[2021-10-28 12:57] #119 closed, assigned to nobody

[2021-10-28 12:58] #117 closed, assigned to nobody

[2021-10-29 18:01] fmichonneau commented on #77
Hi @anenadic,

I'm following up on issues while Toby is on family leave.

If submitted carpentries-incubator/python-intermediate-development#1 which will switch the copyright notice to "the authors" (it's still CC-BY but shows that it's not an official Carpentries lesson).

For the external collaborators access, I'll make you an admin on the repo so you can invite others as needed. Thanks!

[2021-10-29 18:03] fmichonneau commented on #77
I just checked and you already have admin access for this repo so you should be able to invite others who don't have access yet.

[2021-11-01 08:30] anenadic commented on #77
Hi @fmichonneau, yes we (the team developing the material) already have the admin access - Toby created the team for us before he left on his paternity leave.

Thanks for the PR and input on licensing and copyright - we were not sure if we needed to transfer the copyright to The Carpentries (and were of course happy with CC-BY licence). We may change that copyright line in the future to our indivi

[2021-12-08 15:42] kglibrarian opened #120 "Proposed lesson on data cleaning, analysis, and visualization in Excel for Library Carpentries"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Data clean

[2021-12-15 02:53] MCMaurer commented on #115
Hi @resmaili, thank you for your submission to the Carpentries Incubator! After taking a look at your existing lesson, it sounds like it overlaps quite a bit with the [Python for Atmosphere and Ocean Scientists lesson](https://carpentries-lab.github.io/python-aos-lesson/) that's currently in [The Carpentries Lab](https://github.com/carpentries-lab). We like to encourage community members to contri

[2021-12-15 03:22] DamienIrving commented on #115
I was the one who initially suggested to @resmaili that she should submit an incubator proposal (I reached out after reading her book, [Earth Observation using Python: A Practical Programming Guide](https://www.wiley.com/en-us/Earth+Observation+using+Python%3A+A+Practical+Programming+Guide-p-9781119606888)), so I thought I'd jump in here with some comments.

I agree that the content in the example

[2021-12-15 14:54] MCMaurer commented on #120
Hi @kglibrarian, thank you for your submission to The Carpentries Incubator! Do you have a sense of whether the approaches in the lesson would translate to other spreadsheet programs like Libre Office or Google Sheets? If so, we could use a lesson title like "Data cleaning, analysis, and visualization with spreadsheets", even if the lesson screenshots are in Excel. If the methods are only applicab

[2022-01-28 16:33] sgibson91 opened #121 "Creating websites (blogs) with Hugo and GitHub Pages"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

How to cre

[2022-01-28 17:28] malvikasharan opened #122 "Proposed project: Introduction to Data Science and AI for senior researchers"
# Summary

1. What is the topic of your lesson or lesson proposal?
- Lesson proposal is called "Data Science for Biomedical Scientists: Turing-Crick Partnership Project". We have been requested to deliver two training modules (described here: https://github.com/alan-turing-institute/data-training-for-bioscience/issues/19). In this issue, I am requesting to set up a repository to add materails for

[2022-01-31 14:01] tobyhodges commented on #121
Hi @sgibson91 this lesson is really cool, thank you for submitting it to The Carpentries Incubator! I'd be delighted to help you get it transferred in.

You should have received an invitation to join a maintainer team for the lesson. After you have accepted that invitation, you should be able to initiate the transfer into `carpentries-incubator`, via the repository Settings. When that is done, I w

[2022-01-31 14:15] #122 closed

[2022-01-31 14:17] sgibson91 commented on #121
Thanks @tobyhodges, I triggered the transfer :)

[2022-01-31 14:27] tobyhodges commented on #121
Thanks for following up, @sgibson91 🙌

[2022-01-31 14:27] #121 closed

[2022-01-31 14:29] malvikasharan commented on #122
Thank you so much Toby for the prompt response. 🙌

[2022-03-17 13:35] Lisanna opened #123 "Scientific Workflow Management Systems comparison"
A comparison among workflow management systems used in the scientific field. The same workflow example (in the field of bioinformatics and in particular biological sequences analysis) will be run by the trainees in three different systems: Galaxy, Snakemake and Nextflow.

Repository link: [github.com/Lisanna/scientific-workflow-systems](https://github.com/Lisanna/scientific-workflow-systems)

Rend

[2022-03-21 13:12] pallykkja opened #124 "Introduction to Zotero"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
I want to t

[2022-03-28 22:09] MCMaurer commented on #124
Thanks for this lesson proposal @pallykkja! I have created the repository for you at https://github.com/carpentries-incubator/zotero-intro.

You and your colleagues should have received an invitation to join the Maintainer Team for this lesson. Once that invitation has been accepted, you will have Maintain access to the lesson repository. I also granted you Admin access to the repository so you ha

[2022-03-28 22:11] #124 closed

[2022-03-29 07:09] pallykkja commented on #124
Thank you so much, it is so important to get in touch with others for the teaching design. Now I will go through the lessons, and try to apply what I have learned about teaching in carpentry.

[2022-04-06 20:22] isaacovercast opened #125 "Multi-dimensional biodiversity data management and analysis"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

Broadly: M

[2022-04-14 14:15] PabRod opened #126 "R Packages"
# Lesson Proposal: R Packages

### What is the topic of your lesson or lesson proposal?

How and why build your own R packages.

### Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

The materials are available [here](https://github.com/esciencecenter-digital-skills/lesson-R-pack

[2022-04-14 21:32] MCMaurer commented on #123
Thank you for submitting this lesson to The Carpentries Incubator, @Lisanna!

You should have received an invitation to join a Team of maintainers for the lesson, as part of the carpentries-incubator organisation on GitHub. After you have accepted that invitation, you should be able to initiate the transfer into carpentries-incubator, via the repository Settings. When that is done, I will make sur

[2022-04-14 21:41] MCMaurer commented on #125
Thanks for this lesson proposal @isaacovercast! I have created the repository for you at https://github.com/carpentries-incubator/multidimensional-biodiversity-data.

You should have received an invitation to join the Maintainer Team for this lesson. Once that invitation has been accepted, you will have Maintain access to the lesson repository, and you can add any collaborators to this team as wel

[2022-04-14 21:50] MCMaurer commented on #126
Thank you for submitting this lesson to The Carpentries Incubator, @PabRod!

You should have received an invitation to join a Team of maintainers for the lesson, as part of the carpentries-incubator organisation on GitHub. After you have accepted that invitation, you should be able to initiate the transfer into carpentries-incubator, via the repository Settings. It will retain all the current Issu

[2022-04-15 06:40] PabRod commented on #126
Thanks, @MCMaurer.

According to GitHub documentation, the following is true for the issues:

So I'll wait until my collaborators @bvreede and @liekelotte receive and accept their invitations.

Have a nice day!

[2022-04-18 15:45] MCMaurer commented on #126
Hi @PabRod, I've gone ahead and added them both to the lesson developers team, which means they will also be added to the Incubator organization. Thanks for the heads up regarding the Issue assignments, I'll note that in our documentation for how to transfer repositories in the future!

[2022-04-21 12:37] PabRod commented on #126
I've just transferred it. Shall we close this issue, @MCMaurer?

[2022-04-21 14:56] MCMaurer commented on #126
Sounds great @PabRod, thanks for doing the transfer! Feel free to reach out if you run into any issues.

[2022-04-21 14:56] #126 closed

[2022-05-06 07:07] Athanasiamo opened #127 "Lesson - R and the tidyverse for working with datasets"
**1. What is the topic of your lesson or lesson proposal?**
Working with data can often be challenging.
Data are rarely in the shape and format that is most convenient for your end product.
Everyone working with data knows that there is a lot of work that goes into altering the data to make sure you can explore and highlight the interesting aspects of it.
The lesson will focus on using the tidyver

[2022-05-13 06:59] alisonrclarke opened #128 "Data Analysis and Visualization in R for Archaeologists"
1. What is the topic of your lesson or lesson proposal?

Data Analysis and Visualization in R for Archaeologists

2. Do you already have a draft of your lesson? You're welcome to share materials at any stage of development. If you already have drafted materials, please include a link.

I have adapted the lesson [Data Analysis and Visualization in R for Ecologists](https://datacarpentry.org/R-ecolo

[2022-05-16 07:41] alisonrclarke commented on #128
Please could @topographos be added to the list of maintainers?

[2022-05-18 08:53] dbarbi opened #129 "Command Line Interface Background / HPC Certification USE1.1-B"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?

I am worki

[2022-05-18 09:36] tobyhodges commented on #129
Hi @dbarbi thank you for proposing this lesson. The topics you identify sound like a good fit for [the HPC Carpentry project](https://hpc-carpentry.org/). One of their lessons, [`hpc-intro`](https://carpentries-incubator.github.io/hpc-intro/), is in The Carpentries Incubator already. Rather than starting a new lesson, I wonder if you might prefer to review which of these skills are already being c

[2022-05-18 10:09] ocaisa commented on #129
@dbarbi We indeed have an [`hpc-shell` lesson under HPC Carpentry](http://www.hpc-carpentry.org/hpc-shell/) but we are actually about to archive that as we felt that it wasn't giving enough value beyond the `shell-novice` lesson. Instead we are moving relevant content (that isn't already covered in `shell-novice`) into our [`hpc-intro` lesson](https://carpentries-incubator.github.io/hpc-intro/) le

[2022-05-18 10:45] tobyhodges commented on #128
Thank you for submitting this lesson to The Carpentries Incubator, @alisonrclarke!

You should have received an invitation to join a Team of maintainers for the lesson, as part of the `carpentries-incubator` organisation on GitHub.

Ideally, lessons in the Incubator should use the Incubator styling (see https://carpentries-incubator.github.io/jekyll-pages-novice/ for example), to help visitors rec

[2022-05-18 11:11] alisonrclarke commented on #128
Hi @tobyhodges , thanks for the invitation and the update! I think I'd prefer option 1 despite the slightly confusing history if that's OK? I think I prefer that the commits made by the original Data Carpentry team will still be in place iyswim.

If you have time create a PR to do that I'd be grateful! Otherwise I can look into doing it myself but I'm not sure how long it will be before I have tim

[2022-05-18 11:46] tobyhodges commented on #127
Thank you for submitting this lesson to The Carpentries Incubator, @Athanasiamo!

I'll be happy to help you transfer the repository into the Incubator, but I have a question before we go ahead with that: the link you provided, to https://athanasiamo.github.io/r-tidyverse-for-working-with-data/, lands on a workshop webpage rather than the front page of a lesson site. In `_config.yml`, can you chang

[2022-05-18 12:43] reid-a commented on #129
Hi @dbarbi -- this looks interesting, and in particular I think I was not aware of that skill tree you've linked to.

As @ocaisa mentioned, we recently changed our approach to the shell lesson -- we found that there was significant overlap between what a stand-alone HPC Shell lesson needs to do and what the Software Carpentry Unix Shell Intro lesson already does, and the latter has a larger mainta

[2022-05-18 13:28] dbarbi commented on #129
Dear all, thanks for the quick replies.

First of all, I know the HPC Carpentries site, but wasn't sure how much that integrates into the "official" Carpentries. As I really like those I didn't want to develop around / against SW Carpentries in any way. Could you please bring some light into that relation between HPC Carpentries and SW Carpentries?

Second of all, yes, there is a course called hpc

[2022-05-18 13:39] tobyhodges commented on #129
I think I'm best placed to answer this part. HPC Carpentry is indeed not an official part of The Carpentries organisation (Software, Library, and Data Carpentry are what we refer to as _Lesson Programs_: collections of lessons that we support e.g. via central administration of workshops etc). HPC Carpentry is not a Lesson Program, but has some ambitions to become one at some point in the future.

[2022-05-18 13:48] dbarbi commented on #129
Thanks @tobyhodges for clarifying. I am really open to both HPC Carpentries and SW Carpentries. This first course isn't really HPC-related (apart from using the codes of the HPC Certification), but I am planning on many more to come if everything works as planned.
So, if that is what is best, I would be happy to contribute my lesson to HPC Carpentry, provided that doesn't annoy the SW Carpentry pe

[2022-05-18 13:54] tobyhodges commented on #129
I am not sure I agree completely with that description of HPC Carpentry, but that is a discussion for another day! 😆

Regardless, yes I think the Incubator is the place to be if you want to start a separate lesson. I will invite you to the organisation and create a new repository for you. Are you ok with the repository name `carpentries-incubator/shell-hpc` (consistent with the structure of `shell

[2022-05-18 13:56] dbarbi commented on #129
Yup, shell-hpc is fine (for now). At least that is the current aim.
If you have any suggestion of how to develop for HPC Carpentry directly, let me hear it.

[2022-05-18 13:59] tobyhodges commented on #128
@alisonrclarke I have granted you Admin privileges - it is your repository after all! With that, you should be able to adjust the About section yourself. I also added the maintainer team I created for you and @topographos.

To keep in touch with The Carpentries curriculum community you may find it useful to join [the `incubator-developers` list on The Carpentries TopicBox](https://carpentries.topi

[2022-05-18 14:20] reid-a commented on #129
To develop for HPC Carpentry directly, you should contribute issues or PRs to our repos. We have a[ coordination repo](https://github.com/hpc-carpentry/coordination), it's mostly about policy and goals, as well as a number of lessons. The most mature and active has been mentioned here, it's [HPC Intro](https://github.com/carpentries-incubator/hpc-intro), in the incubator. The others are listed in

[2022-05-18 19:32] Athanasiamo commented on #127
Hi @tobyhodges .

I've fixed the change from workshop to lesson, and I also fixed some files missing for rendering the website. Its not generating the schedule, for reasons I dont understand, but I'm sure we can get that fixed with the help of the community.

Thank you for approving it into the incubator!

[2022-05-20 22:44] rcurty opened #130 "Introduction to Reproducible Publications with RStudio"
Thank you for your interest in developing and sharing lesson materials! To submit lesson materials or suggest a topic for future curricular development, please answer the questions below. Our Curriculum Development Team will follow up to suggest next steps in your lesson's trajectory. Questions? Please email team@carpentries.org.

1. What is the topic of your lesson or lesson proposal?
Participant

[2022-05-25 15:35] MCMaurer commented on #115
Hi @resmaili, my apologies for the long delay in getting back to you on this. It sounds like your lesson would differ sufficiently from the Python AOS lesson to warrant its own lesson, so we would be more than happy to accept it to the Incubator. If you would still like to move your lesson content into a new repository in the Incubator, let me know and I will go ahead and create an empty lesson re